&__container {
  height: 100%;
  width: 100%;

  &:after {
    border-radius:$default-border-radius;
    border: 1px dashed white;
    content: " ";
    display: none;
    height: calc(100% - 25px);
    left: 6px;
    position: absolute;
    top: 19px;
    width: calc(100% - 12px);
  }

  &[data-over="over"] {
    &:after {
      display: block;
    }
  }

  .icon {
    fill: #879BFF;
    height: 30px;
    left: 0;
    margin:-10px auto;
    position: absolute;
    right: 0;
    top: 21px;
    width: 37px;

    &.video {
      fill:hsla(0,0%,98%,.8);
      height: 40px;
      padding: 5px;
      stroke:transparent;
      width: 40px;
    }

    &.document {
      fill:var(--ewhite);
    }

    &.schedule {
      fill: var(--special-schedule-icon);
      height: 30px;
      margin:-8px auto;
      padding: 1px;
      stroke-width: 4px;
      width: 33px;
    }
  }

  &.schedule {
    border-radius: $default-border-radius-small;//$border-radius-small;
  }

  &[data-hub="1"] {
    &::before {
      border-left: 8px solid transparent;
      border-radius: 0 3px 0 0;
      border-top: 8px solid var(--folder-main-before-color);
      content: " ";
      position: absolute;
      right:10px;
      top: 5px;
      width: 48px;
    }
  }

  &[data-hover="on"] {
    border-radius: $default-border-radius;
    box-shadow:var(--shadow-container);
    z-index : 100; // Needed to make inner element receive event first

    .filename {
      &.document {
        background :var(--default-bg-block);
      }
    }
  }

  &[data-icontype="vector"] {
    .preview {
      display: none;
    }
  }

  &[data-icontype="vignette"] {
    &:before, &:after {
      display: none;
    }
  }

  & .drumee-loading-wrapper {
    left: 55%;
    top: 90%;
  }
}

&.folder {
  background-color: var(--folder-main);

  &:before {
    border-left: 13px solid transparent;
    border-radius: 0 6px 0 0;
    border-right: 13px solid var(--folder-main-light);
    border-top: 13px solid var(--folder-main-light);
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
  }

  svg.icon {
    display: none;
  }

  &[data-hover="on"] {
    &:before {
      height: 0;
    }

    .media-minifyer__container {
      .filename-tooltips {
        background-color: #a3c6f2;
      }
    }
  }
}
