.filename {
  border-radius:var(--border-radius-bottom);
  cursor: pointer;
  max-height: 31px;
  overflow: hidden;
  padding: 2px 11px;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
  @include typo($line:14px,$size:11px,$color:var(--default-text-color));

  &.hub, &.folder {
    color: var(--default-text-reverse);
  }

  &.audio, &.document, &.vector, &.other {
    background-color:  var(--default-bg); 
    color: var(--default-text-color);
  }

  &.image,
  &.video {
    background :linear-gradient(180deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0.9));
    color: var(--default-text-color);
  }
}

.filename-tooltips {
  background: var(--default-bg-block);
  border-radius: var(--border-radius-bottom-smal);
  display: none;
  max-height: calc(100% - 5px);
  max-width: 100%;
  opacity: 0;
  overflow-wrap: anywhere;
  padding: 6px 4px;
  pointer-events: none;
  position: absolute;
  transition: opacity 1ms;
  white-space: pre-wrap;
  @include typo($line:14px,$size:10px,$weight:400,$color:var(--default-text-color));

  &[data-hover="on"] {
    color: var(--default-text-color);
    display: block;
    opacity: 1;
    overflow-wrap: break-word;
    z-index: 20;

    &.private {
      background-color: #d5a3dd;
    }

    &.share {
      background-color: #ffccaf;
    }

    &.public {
      background-color: #57c297;
    }
          
    &.folder {
      background-color: #a3c6f2;
    }

    &.audio, &.document, &.vector, &.other {
      background-color :var(--default-bg-inactive);//$default-background-reverse;
      color: var(--default-text-reverse);
    }
  }
}
