.window-account {
  &__header {
    height: 44px;
    width: 100%;
    border-bottom: none;
    background-color: $account-background-header;
    @include typo ($size: 18px, $line: 36px, $color: $account-default-text-reverse, $weight: 400);
    justify-content: center;

    &-icon {
      cursor: pointer;
      color: $egrey-49;
      margin: 0 5px;

      &:hover {
        color: #879BFF;
      }
    }

    @media (min-width: 1100px) {
      &-icon {
        position: absolute;
        right: -30px;
        top: 0;
      }
    }
  }

  &__navbar {
    align-items: center;
    background-color: $account-default-background ;
    justify-content: center;
    margin: 20px 0 30px 0;
    width: 100%;

    &--item {
      height: 36px;
      padding: 0 5px;
      margin: 0;
      max-width: calc(100% / 6);
      cursor: pointer;
      @include typo($line: 36px, $size: 16px, $color: $account-default-text-color, $weight: 400);
      @include overflow-text;

      .inner {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &[data-state="1"],
      &[data-radio="on"] {
        background-color: $account-default-background-hover;
        color: $account-default-text-reverse;
        border-radius: $default-border-radius-tiny;

        &:hover {
          color: $account-default-text-hover ;
        }
      }

      &:hover {
        color: $account-backgroundless-text-hover;
      }

      @media (min-width: 900px) {
        padding: 0 25px;
      }
    }
  }
}