@import 'mixins/colors/index.scss';
@import 'mixins/typo.scss';
@import 'mixins/colors/index.scss';
@import 'mixins/exports.scss';
@import 'mixins/handles.scss';
@import 'mixins/utils.scss';
@import 'mixins/vendor.scss';
@import 'mixins/z-index.scss';
@import 'mixins/drumee';

.invitation-permission{
  &__ui{
    //display: block;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 260px;
   // padding: 20px 45px 15px;
    background-color:var(--default-bg-block); // #F7F7F9;
    box-shadow:$drumee-shadow-block ;
    border-radius: $default-border-radius;
    position: absolute;
   // margin: 0 auto;
    padding: 15px 45px ;//25px 45px 15px;
    margin:12px 20px 1px 88px;//1px 20px; //-10px 25px 0 ; //0 25px;
    &:before {
      content: " ";
      width: 10px;
      height: 10px;
      background-color:var(--default-bg-block);
      position: absolute;
      top: -5px; //-3px;
      left: 289px;//236px;//227px;
      transform: rotate(45deg);
    }
  }
}

.invitation-permission{
  &__text {
    @include typo($line:14px,$size:13px,$weight:300,$color:var(--default-text-color)); //$egrey-78
    display: flex;
    flex-direction: row;
  }
  // &::before{
  //   position: absolute;
  //   left: 97px;
  // }
  &__checkbox{
    cursor: pointer;
    z-index: 1;
    width: 100%;
    padding: 0px;
    .label, .text{
      letter-spacing: 0em;
      line-height: 16px;
      color:var(--default-text-color); //#787B7F;      
    }
    &[data-state="1"], &[data-radio="on"]{
      svg{
        color:  var(--default-checkbox-checked);//$checkbox-active;//$state-1-typo;//$egreen; 
        border: 1px solid var(--default-checkbox-border);//$default-checkbox;  //$egreen;
      }    
    }
    &[data-modify="off"]{
      .text, .label{
        @include typo($line:14px,$size:13px,$weight:300,$color: var(--default-text-inactive)); 
      }
      svg{
      opacity: 0.5;
      pointer-events: none;
      }
    }  
    &:hover {
      svg{
        border: 2px solid var(--default-checkbox-border);//$default-checkbox; //$checkbox-selected-color;
      }    
    }
    svg{
      width: 15px;
      height: 15px;
      margin-right: 10px;
      color:$ewhite; // #FFFFFF;
      border: 1px solid var(--default-checkbox-border);//$default-checkbox;//$egrey-89; //#89929E;
      border-radius: $default-checkbox-border-radius;
      //border-radius: 2px; 
    }  
  }
  &__radio {
    cursor: pointer;
    z-index: 1;
    svg {
      width: 15px;//14px
      height: 15px;
      margin-right: 10px;
      color: $ewhite;
      border: 1px solid var(--default-checkbox-border);//$default-checkbox;//$egrey-89;// #89929E;
      // border-radius: 2px;
      border-radius: 50%;
      &:hover{
        border: 2px solid var(--default-checkbox-border);//$default-checkbox;//$checkbox-selected-color;
      }
    }
    &[data-state="1"], &[data-radio="on"]{
      svg {
        border-color: var(--default-checkbox-border);// $default-checkbox;//$egreen ; 
      }
      &:before {
        content: " ";
        width: 9px; //8px;
        height: 9px; //8px;
        background: var(--default-radio-active);// $default-checkbox;//$egreen; //$egreen-soft; //#18AC72;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 50%;
      }
    }
  }
  &__input {
      height: 20px;
      width: 20px;
      background-color: var(--default-bg);   //#ffffff;//#FBFBFB;
      border-radius: $default-checkbox-border-radius;//2px;
      input {
          box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
          color: var(--default-text-alert); //#FF805C;
          text-align: right;
      }

  }
  &__input-text {
      @include typo($line:16px,$size:12px,$weight:300,$color:#ff805c);
  }
  &__btn {
    min-width:68px; // 60px;
    width: auto;
    height: 28px;//20px;
    background-color:$btn-commit-background; //$egreen; //$egreen; //#18A3AC;
    border-radius:$default-border-radius;
    //border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% auto 0; //0 auto;
    @include typo($line:20px,$size:14px,$color:$btn-commit-text); //$size:12px, $weight:400,
    &:hover{
      background-color:$btn-commit-background-hover;
    }
    &[data-state="0"]{
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
