/** ================================================================== *
#   Copyright Xialia.com  2011-2021
#   FILE : /src/drumee/builtins/window/conference/widget/recipient/skin/index.scss
#   TYPE : Component style
# ===================================================================**/
@import 'mixins/drumee';

.schedule-recipient{
  &__ui{
    // height:35px;//31px;//30px;
    width:100%;
  }
  &__main{
    height: 36px;
    justify-content:left;
    // margin-top: 10px;
    &.activehover:hover{
    //  color:$default-text-hover;     
      background-color:var(--default-bg-hover);
      & svg{
        color:var(--default-icon-reverse);//var(--ewhite); 
      }
      & .note-reader{
        color: var(--default-text-hover);//var(--ewhite)
      }
    }
  }
  &__text{
    height: 100%;
   // max-width: 100%;//calc(100% - 10px);//;//calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;//214px;
    padding: 0 5px 0px 3px;
    justify-content: center;
    align-items: center;
    @include overflow-text();
  }
  &-email,&-name{
    height: 100%;
    align-items: center;
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include typo($size: 14px, $weight:400, $line: 20px, $color:var(--default-text-color));//$default-text-alert,$size: 16px,$weight:300, 
  }
  &-name{
    margin-right: auto;
    margin-left: 10px;
    flex:1;
    .note-content{
      width: 190px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;      
    }
  }
  &-icon{
    color: var(--default-icon-neutral);  
    width: 15px;//17px
    height: 16px;//19px
    opacity:0.70;
  }
  .user-profile__ui{
    width: 29px; //26px;
    height: 29px;//26px;
    min-width: 29px;
  }

  &__icon{
    &.profile-icon {
      color: var(--default-icon-neutral); //var(--egrey-89);
      height: 28px; //25px; //23px;
      width: 25px; //22px;
      margin-top: 3px; //2px;
      margin-left: 2px;
      & .note-reader {
        &:hover {
        color:var(--default-icon-hover);
        }
      }
    }
    &.guest_icon {
      background: var(--default-user-icon);//$default-icon-neutral;//var(--egrey-8d);
      opacity: 0.6;
      width: 29px;//26px;
      height:29px;// 26px;
      min-width: 29px;
      min-height: 29px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      .drumee-text {
        @include typo($size: 15px,$weight:400, $color: var(--default-text-color));//$default-icon-neutral);
        opacity:1
      }
    }

  }
}