@use 'mixins/drumee';
@use "skin/lib/button" as *;

.member-detail {
  &__ui {
    font-family: var(--font-main);
    height: 100%;
    width: 100%;
  }

  &__main {
    height: 100%;
    overflow-y: auto;
    width: 100%;
  }

  &__status {
    align-items: center;
    background: var(--default-background-alert);
    color: var(--default-text-reverse);
    height: 100%;
    justify-content: space-between;
    max-height: 35px;
    min-height: 35px;
    opacity: 0.7;
    width: 100%;
  }

  &__container {
    height: 100%;
    margin: auto;
    min-width: 300px;
    padding-bottom: 5px;
  }

  &__wrapper {
    padding-bottom: 20px;
    grid-template-columns: 40px 1fr 40px;
    gap: var(--spacer-4);

    &.name {
      margin-top: 44px;
      grid-template-columns: 40px 1fr;
    }

    &.mobile,
    &.address {
      grid-template-columns: 40px 1fr;
    }

    &.options {
      justify-content: center;
      grid-template-columns: 1fr;
    }

    &.member-action {
      justify-content: center;
      grid-template-rows: 40px 60px;
      grid-template-columns: 1fr;
    }
  }

  &__icon {
    height: 26px;
    width: 26px;
    margin-right: 0;
    margin-left: auto;

    &.name {
      opacity: 1;
    }

    &.email {
      opacity: 0.5;
    }

    &.ident {
      opacity: 0.6;
    }

    &.mobile {
      opacity: 0.5;
    }

    &.address {
      opacity: 0.6;
    }

    &.archive,
    &.delete-member {
      color: var(--default-text-reverse);
      height: 18px;
      margin: 0;
      opacity: 1;
      right: 15px;
      width: 18px;
    }

    &.status-info {
      color: var(--default-text-reverse);
      height: 14px;
      margin: 0;
      opacity: 1;
      left: 15px;
      width: 14px;
    }

    &.not-verified-status {
      color: var(--orange-lighter);
      height: 22px;
      width: 22px;
      position: absolute;
      right: 50px;
    }

    &.verified-status {
      color: var(--primary-400);
      border: 1px solid var(--primary-400);
      width: 20px;
      height: 20px;
      margin-top: 0px;
      border-radius: 50%;
      padding: 3px;
    }
  }

  &__item {
    justify-content: space-between;
  }

  &__items {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    justify-content: center;
    @include drumee.typo($size: 16px, $line: 19px, $color: var(--default-text-color));
  }

  &__note {
    padding-left: 5px;
    @include drumee.typo($size: 16px, $line: 19px, $color: var(--default-text-color));

    &.firstname,
    &.familyname {
      padding-left: 1px;
    }

    &.firstname,
    &.address {
      padding-bottom: 7px;
    }

    &.address {
      padding-left: 0;
    }

    &.member-status {

      @include drumee.typo($size: 14px, $line: 15px, $color: var(--default-text-reverse));
    }

    &.timestamp {
      left: 10px;
      max-width: 70px;
      text-align: center;
      top: 1px;
      @include drumee.typo($size: 10px, $line: 15px, $color: var(--default-text-reverse));
    }

    &.comment {
      background-color: var(--default-background);
      border-radius: var(--border-radius);
      border: 1px solid var(--default-frame);
      box-sizing: border-box;
      height: 100%;
      margin-bottom: 5px;
      margin-left: 3px;
      margin-top: 5px;
      max-height: 150px;
      max-width: 250%;
      min-height: 90px;
      overflow-y: auto;
      padding: 6px;
      width: 100%;
      @include drumee.typo($size: 16px, $line: 20px, $color: var(--default-text-color));
    }

    &.delete-action,
    &.option {
      max-width: 320px;
      text-align: center;
      min-width: 300px;
      justify-content: center;
      padding: 0;
      margin-left: 16px;
      @include drumee.typo($size: 16px, $line: 20px, $color: var(--default-text-alert));
    }

    &.email {
      padding-left: 0px;
      white-space: nowrap;
      width: 220px;

      & .inner {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
        line-height: 1;
      }

      & .tooltips {
        @include drumee.typo($size: 12px, $line: 12px, $color: var(--default-text-tooltips));
        background-color: var(--background-tooltips);
        border-radius: var(--border-radius);
        height: 100%;
        text-align: center;
        top: -22px;
        padding: 5px;
        position: absolute;
        width: fit-content;
        z-index: 11;
      }
    }
  }

  /*  &__buttons-wrapper-resend{
    width: 400px;
  }*/

  // &__button-action {
  //   border-radius: var(--border-radius);
  //   height: 35px;
  //   align-items: center;
  //   justify-content: center;
  //   padding: 0 5px;

  //   &.button-delete {
  //     border: 1px solid var(--btn-caution-border);
  //     margin-left: -1%;
  //     height: 40px;
  //     min-width: 165px;
  //     @include drumee.typo($size: 16px, $weight: 400, $color: var(--btn-caution-backgroundless-text));

  //     &:hover {
  //       @include drumee.typo($size: 16px, $weight: 400, $color: var(--btn-caution-text)-hover);
  //       border: 2px solid var(--btn-caution-border-hover);
  //     }
  //   }

  //   &.button-resend {
  //     background-color: var(--btn-commit-background);
  //     margin-left: 2%;
  //     height: 40px;
  //     min-width: 165px;
  //     @include drumee.typo($size: 16px, $weight: 400, $color: var(--btn-commit-text));

  //     &:hover {
  //       background-color: var(--btn-commit-background-hover);
  //     }
  //   }
  // }

  &__tooltips {
    position: absolute;
    padding: 6px;
    letter-spacing: 0;
    width: 102px;
    text-align: justify;
    border-radius: var(--border-radius);
    background-color: var(--background-tooltips);
    margin-left: -45px;
    @include drumee.typo($size: 11px, $line: 15px, $color: var(--default-text-tooltips));
  }

  &__buttons {
    justify-content: center;
    padding-bottom: var(--spacer-4);
  }


  @include common-button;

}