html[data-theme="dark"] {
  /* Surface */
  --normal-bg: #0B0A21;
  --normal-bg-100: #0B0A21;
  --normal-bg-90: #282538;
  --normal-bg-80: #333042;
  --normal-bg-50: #2D2A6A;
  --normal-bg-40: #3C3989;
  --normal-bg-elevated: #333042;
  --overlay-bg: rgba(20, 17, 35, 0.40);
  --overlay-bg-05: rgba(255, 255, 255, 0.05);
  --overlay-fg: #2D2A6A;

  /* Foreground */
  --normal-fg: #E4E3FF;
  --normal-fg-10: #E4E3FF;
  --normal-fg-20: #B1ADFF;
  --normal-fg-50: #84848C;
  --normal-fg-800: #FFFFFF;
  --placeholder-fg: #C7C7CC;

  /* Reverse */
  --reverse-bg: #E4E3FF;
  --reverse-fg: #282538;

  /* Border */
  --border-default: rgba(71, 69, 84, 0.40);
  --border-muted: rgba(255, 255, 255, 0.05);
  --border-strong: #4642A9;
  --active-border: #5950FF;
  --hover-border-40: #5950FF;

  /* Accent / state */
  --avatar-bg: #5950FF;
  --radio-on-bg: rgba(89, 80, 255, 0.20);
  --radio-on-border: #5950FF;
  --hover-bg-40: rgba(89, 80, 255, 0.15);
  --active-item-bg: rgba(89, 80, 255, 0.10);
  --folder-fill: #884EFF;
  --signout-fg: #D74E49;

  /* Shadows */
  --shadow-top-tiny: 0px 1px 2px rgba(0, 0, 0, 0.50);
  --shadow-left-big: -24px 0 48px rgba(0, 0, 0, 0.50);
  --shadow-right-big: 24px 0 48px rgba(0, 0, 0, 0.50);
}
