:root {
  --normal-bg-90: var(--primary-purple-90);
  --normal-bg-100: var(--primary-purple-100);
  --normal-fg-10: var(--primary-purple-10);
  --normal-fg-20: var(--primary-purple-20);
  --normal-fg-50: var(--neutral-50);
  --reverse-bg: var(--primary-purple-40);
  --reverse-fg: var(--neutral-100);
  --overlay-bg: var(--primary-purple-80-5);
  --overlay-fg: var(--primary-purple-80);
}