@use "mixins/drumee";

.workspace-item {
  &__ui {
    align-items: center;
    gap: var(--spacer-2);
    padding: var(--spacer-3);
    cursor: pointer;
    transition: background 0.2s;
    border-radius: var(--corner-radius-2);

    &[data-radio="on"] {
      border: 1px var(--radio-on-border) solid;
      background-color: var(--radio-on-bg);
    }
  }

  &:hover {
    background-color: var(--primary-purple-80-5);
  }

  &[active="1"] {
    background: var(--neutral-700);
  }

  &-status {
    width: var(--spacer-3);
    height: var(--spacer-3);
    background: var(--green-400);
    border-radius: 50%;
  }
}
