@use 'mixins/drumee';

.window-changelog__content {
  &__main {
    width: 100%;
    min-height: 250px;
    padding: 10px 15px;
  }

  &-header {
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

    &.presentation {
      @include drumee.typo($size: 14px, $line: 20px, $weight: 400, $color: var(--default-text-color));
      text-align: justify;
      max-width: 600px;
      align-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 20px;
    }

    &.tabs {
      justify-content: space-between;
    }

    &.tab {
      background-color: var(--btn-caution-background) ;
      @include drumee.typo($size: 14px, $line: 16px, $color: var(--btn-caution-text));
      text-align: center;
      padding: 5px 10px;
      width: calc(50% - 2px);
      border-radius: 3px;
      opacity: 1;
      cursor: pointer;

      &[data-state="0"] {
        opacity: 0.5;
      }
    }
  }

  &__content {
    flex: 1;
    border-radius: 3px;

    .text {
      background-color: var(--btn-caution-background) ;
      @include drumee.typo($size: 16px, $line: 18px, $color: var(--btn-caution-text));
      text-align: justify;
      padding: 5px 10px;
    }
  }

  &__list {
    height: 100%;
    width: 100%;
    border: 1px solid var(--add-light-grey);
    background-color: var(--default-block-background);
    overflow: auto;
    padding: 5px 0;
  }

}