@use "sass:meta";
@use "mixins/drumee";

html {
  overflow: hidden;
}

@include meta.load-css("payment/status-info");

@include meta.load-css("toolkit");
@include meta.load-css("buttons.scss");
@include meta.load-css("topbar");
@include meta.load-css("body");
@include meta.load-css("desk/dmz-copy-media");
@include meta.load-css("desk/intro-popup");
@include meta.load-css("dialog");
@include meta.load-css("sidebar");

.desk-module {
  &__ui {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: var(--font-main);
    background-color: var(--normal-bg);
  }

  &__main {
    background-color: var(--normal-bg);
    max-height: 100vh;
    overflow: auto;
  }

  &__context-box {
    z-index: 7000;
    width: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
  }

  &__activity-container {
    width: 100%;
    height: auto;
  }

  &__body {
    height: 100vh;
  }

  &__right-side {
    flex-grow: 1;
    background-color: var(--normal-bg-100);
  }
}