@use "mixins/drumee";

.desk-module-sidebar {
  &__main {
    justify-content: space-between;
    width: 231px;
    padding: 16px 0;
    background-color: #ffffff;
    align-items: stretch;
    z-index: 10002;
    border-right: none;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.13);
  }

  &__nav {
    width: 100%;
    gap: 32px;
  }

  &__nav-main {
    width: 100%;
    gap: 4px;
  }

  &__item {
    align-items: center;
    padding: 7.25px 24px 8px;
    gap: 12px;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    color: #0b0a21;
    border-left: 4px solid transparent;
    min-height: 35px;
    box-sizing: border-box;

    &:hover {
      border-left-color: var(--hover-border-40);
      background-color: var(--active-item-bg);
    }

    &[data-device="mobile"] {
      flex-shrink: 0;
      width: 150px;
      justify-content: center;
    }

    &[data-radio="on"] {
      color: var(--primary-50);
      background-color: var(--active-item-bg);
      border-left-color: var(--active-border);
      font-weight: bold;
    }

    &[data-partname="theme-toggle"] {
      .desk-module-sidebar__item-icon {
        width: 20px;
        height: 20px;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
      color: inherit;
      &.red {
        color: var(--signout-fg, var(--error));
      }
    }

    &-text {
      color: inherit;
      &.red {
        color: var(--signout-fg, var(--error));
      }
      &[data-device="mobile"] {
        margin-top: var(--spacer-2);
      }
    }

    &.active {
      border: 1px solid var(--active-border);
    }
  }

  &__logo {
    align-items: flex-start;
    gap: 8px;
    padding: 0 24px;

    &-icon {
      width: 101px;
      height: 20px;
    }
  }

  &__header {
    color: #433cc5;
    font-family: "Geist Mono", monospace;
    font-size: 10px !important;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__workspace {
    color: #0b0a21;
    padding: 0;
    width: 100%;
  }

  &__workspace-title {
    color: #433cc5;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    padding: 7.25px 24px 8px;
  }

  &__workspace-main {
    width: 100%;
  }

  &__footer {
    width: 100%;
    gap: 16px;

    &-user-btn {
      align-items: center;
      padding: 16px 24px 0;
      gap: 12px;
      cursor: pointer;
    }

    &-avatar {
      width: 32px;
      height: 32px;
      background-color: #e4e3ff;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

      &-note {
        color: #433cc5;
        font-size: 12px;
        font-weight: 700;
      }
    }

    &-name-wrapper {
      gap: 2px;
      justify-content: center;
    }
    &-username {
      color: #0b0a21;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.4;
    }

    &-user-plan {
      color: #84848c;
      font-size: 10px;
      line-height: 1.4;
    }
  }
}
