@use "sass:meta";
@use 'mixins/drumee';
@include meta.load-css('tag-menu');

.widget-tagFormMenu {

  &__ui {
    background-color: inherit;
    height: 100%;
    width: 100%;
  }

  &__main {
    background-color: inherit;
    height: 100%;
    width: 100%;
  }

  &__container {
    background-color: inherit;
    height: 100%;
    width: 100%;
  }

  .drumee-spinner {
    height: 25px;
    margin: auto;
    width: 25px;
  }

}