@use "mixins/drumee";

.widget-tagFormMenu {
  &-tag-menu {
    &__button_wrapper {
      align-items: center;
      background: var(--primary-700);
      border-radius: var(--border-radius);
      cursor: pointer;
      height: 28px;
      justify-content: center;
      margin: 5% auto 0;
      width: 68px;
      @include drumee.typo(
        $color: var(--btn-commit-text),
        $line: 1,
        $size: 14px
      );

      &:hover {
        background-color: var(--primary-800);
      }
    }

    &__wrapper {
      position: absolute;

      &[data-state="1"] {
        & .trigger-icon {
          color: var(--default-icon-active);
        }
      }

      & .menu-topic-items {
        border-radius: var(--border-radius);
        background-color: var(--normal-bg-90);
        box-shadow: var(--drumee-container-dropdown);
        max-height: 250px;
        max-width: 160px;
        min-width: 160px;
        width: 100% !important;

        &__wrapper {
          border: 1px solid var(--neutral-800);
          border-radius: var(--corner-radius-4);
        }
      }
    }

    &__icon {
      color: var(--normal-fg-10);
      cursor: pointer;
      margin-top: 0px;

      &:hover {
        color: var(--default-icon-hover);
      }

      &.trigger-icon {
        height: 17px;
        width: 22px;
        left: -10px;
      }

      &.tags {
        margin-top: 2px;
      }
    }

    &__items-wrapper {
      padding: var(--spacer-5) var(--spacer-2);
    }

    &__item {
      cursor: pointer;
      padding: 8px 8px 8px 10px;
      margin-bottom: 1px;

      &:hover {
        background-color: var(--default-background-hover);
        color: var(--default-text-hover);

        & .chat-room-menu__note {
          color: var(--default-text-hover);
        }

        & svg {
          fill: var(--default-icon-reverse);
        }
      }
    }

    &__list-wrapper {
      width: 100%;
      height: 100%;
    }

    &__list.tags {
      justify-content: center;
      max-height: 170px;
      min-height: 80px;

      & .drumee-spinner {
        height: 25px;
        margin: auto;
        overflow: hidden;
        width: 25px;
      }
    }

    &__note {
      &.title {
        justify-content: center;
        @include drumee.typo(
          $size: 14px,
          $line: 28px,
          $weight: 300,
          $color: var(--normal-fg-10)
        );
      }

      &.name {
        justify-content: center;
        padding-bottom: 15px;

        width: 100%;
        @include drumee.typo(
          $size: 12px,
          $line: 14px,
          $weight: 300,
          $color: var(--normal-fg-10)
        );
      }
    }

    &__dropdown {
      height: 100%;
      width: 100%;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }
}
