&-topbar{
  &__container{
    flex: 1;
    border-bottom: 1px solid $default-border-notification;
    border-radius: $default-border-radius-top; //6px 6px 0 0;
    height: 44px;
  }
  &__title{
    margin: auto;
    @include typo($size:14px,$line:21px,$weight:300,$color:$default-text-color);
    // &.name{
    // }
  };
  &__control{
    position: absolute;
    height: 100%;
    right: 0;    
    .icon{
      color: #2F2F2F;
    }
  }
}