&-validity {
  &__validity-wrapper {
    width: 100%;
  }

  &__switch-container {
    align-items: center;
    min-height: 30px;
    width: 100%;
  }

  &__switch-wrapper {
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }

  &__switch-container {
    height: 100%;
    justify-content: center;

    & .button-switch {
      &__toggle {
        &.on,
        &.off {
          @include typo($size: 14px, $line: 14px);
          height: 100%;
          text-align: left;
          width: auto;

          &.fr-lang {
            font-size: 13px;

            @media (max-width: $x-small) {
              font-size: 12px !important;
            }
          }
        }

        &.on {
          color: $dt-toggle-switch-on;

          &[data-state="0"] {
            color: $dt-toggle-switch-off;
          }
        }

        &.off {
          color:$dt-toggle-switch-off;

          &[data-state="0"] {
            color:$dt-toggle-switch-on;
          }
        }

        &.change {
          padding: 0 10px;

          & .inner.note-content {
            background-color: $dt-toggle-background;
            border-radius: $default-border-radius-small;
            height: 4px;
            width: 24px;
          }

          &::before,
          &::after {
            background-color: $dt-toggle-switch-radio;
            height: 12px;     
            opacity:0.7;
            padding: 4px 0 3px;
            width: 12px;
          }
        }
      }
    }
  }

  &__set-validity {
    padding-top: 5px;

    &[data-mode="closed"] {
      display: none;
    }

    &[data-mode="open"] {
      display: flex;
    }
  }

  &__validity-action-wrapper {
    align-items: center;
    height: 26px;
    margin-bottom: 0px;
    margin-left:-5px;
    padding-left: 2px;

    &.edit {
      & + .expiry-status-icon {
        display: none;
      }
    }

    &:hover {
      background-color: $share-default-background-hover;
      color:$share-default-text-hover ;
      
      & input[type="number"] {
        background-color: $share-default-background;
      }
      
      *{
        background-color: $share-default-background-hover;
        color:$share-default-text-hover ;

        svg {
          border-radius: $default-border-radius-tiny;
       }
      }

      & + .expiry-status-icon {
        display: none;
      }

      & .edit-icon {
        display: flex;
      }

      .widget-sharebox-setting-validity__note.btn-ok {
        background-color: $btn-commit-background-hover;

        .drumee-text {
          background-color:$btn-commit-background-hover;
        }
      }

      .validity-entry-text {
        background-color: $share-default-background-hover;
        border:1px solid var(--ewhite); 
      }
    }
  }

  &__validity-caption {
    @include typo($size: 14px, $weight: 300, $color: $share-default-text-color);// var(--egrey-78));  $weight: 400,
    padding-right: 10px;
  }

  &__days-caption,
  &__hours-caption {
    @include typo($size: 14px,$weight: 300, $color:$share-secondary-text-color);//var(--eviolet));
    bottom: 0;
    padding-right: 10px;
  }

  &__days-caption {
    margin:0 5px 0 5px;
  }

  &__hours-caption {
    margin: 0px 0px 0px 5px;
  }

  &__expiry-time-wrapper {
    align-items: center;
    justify-content: center;
    padding-left: 2px;
  }

  &__entry{
    &.validity-entry {
      width: 23px;
      height: 23px;
      background-color: $share-default-background;
      border-radius:$default-border-radius;

      &.days {
        width: 40px;
      }

      & input::-webkit-outer-spin-button,
      & input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;

        &:hover {
          background-color: $share-default-background-hover;
          color: $share-default-text-hover;
          border: $ewhite 1px solid;
        }
      }
  
      /* Firefox */
      & input[type="number"] {
        -moz-appearance: textfield;
        border-bottom: none;
        text-align: center;
        padding-right:2px;// 0px;
        @include typo($line: 29px, $size: 14px, $weight: 400, $color: $share-default-text-color);
        @include placeholder-input {
          @include typo($line: 29px, $size: 14px, $weight: 300, $color: $share-default-text-placeholder); //#89929e
        }
      }
    }
  }
  
  &__icon {
    &.edit-icon {
      color: $share-default-block-background; //must follow the background color
      cursor: pointer;
      height: 18px;
      margin: 3px 5px 3px 15px;
      opacity: 0.85;
      padding-right: 2px;
      width: 18px;
      display: none;

      svg {
        margin-left: 2px;
      }

      &:hover {
        background-color: $share-default-background-hover;
        color:$share-default-icon-reverse;
        opacity: 1;
      }

      &.btn-first {
        margin-left: 66px;
        margin-right: 8px;
      }

      &.btn-middle {
        margin-left:5px;
        margin-right: 7px;
      }
    }

    &.expiry-time {
      color: $share-default-icon-error;
      cursor: help;
      height: 18px;
      margin: 4px 5px 3px 12px;
      width: 18px;

      & svg {
        border: 0.8px solid $share-default-icon-reverse;
        border-radius: 50%;
      }

      & .tooltips {
        @include typo($size: 12px, $line: 20px, $color: $share-default-text-tooltips);
        background-color: $share-default-background-tooltips;
        border-radius: $default-border-radius;
        max-height: 90px;
        min-height: 40px;
        padding: 10px;
        position: absolute;
        right: 0px;
        text-align: center;
        top: 20px;
        width: 270px;
        z-index: 1;
      }
    }
  }

  &__note {
    &.validity-entry-text {
      @include typo($line: 18px, $size: 14px, $weight: 300, $color: $share-default-text-color);//$size: 13px, $weight: 400,
      align-items: center;
      background-color: $share-default-background;  
      border-radius: $default-border-radius-small;
      height: 20px;
      justify-content: center;
      padding: 0px 4px;
      width: 36px;
    }

    &.switch-container {
      padding-left: 5px;
      text-align: center;
      @include typo($size: 13px, $line: 16px, $color: $dt-secondary-text-color);
    }

    &.btn-ok {
      @include typo($size: 12px, $color:$btn-commit-text);
      align-items: center;
      background: $btn-commit-background;
      border-radius: $default-border-radius;
      cursor: pointer;
      justify-content: center;
      margin-left: 2px;
      padding: 5px;
      height: 26px;
      width: 26px;
      
      &:hover {
        background-color:$btn-commit-background-hover;
      }

      &.first {
        margin-left:20px;
      }

      &.middle {
        margin-left: -2px;
      }
    }
  }
}