/** ================================================================== *
#   Copyright Xialia.com  2011-2021
#   FILE : /home/somanos/devel/ui/src/drumee/modules/test/widget/result/skin/index.scss
#   TYPE : Component style
# ===================================================================**/
@import 'mixins/drumee';

.test-result{
  &__ui{
    height: auto;
    min-height: 45px;
  }
  &__service{
    height: 45px;
    color: green;
    padding: 5px 20px;
    align-items: center;
    align-content: center;
    justify-items: left;
    justify-content: left;
    @include typo($size: 16px, $line: 24px, $color: green);
    &[data-status="error"]{
      color: indianred;
    }
  }
  &__status{
    height: 45px;
    align-items: center;
    @include typo($size: 16px, $line: 24px, $color: green);
    &[data-status="error"]{
      color: indianred;
    }
  }
  &__container{
    background-color: inherit;
  }
}