&__commands {
  height: 100%;
  width:auto; // right: 40px; //10px;
  background-color: $core-default-transparent-black; //rgba(0, 0, 0, 0.33);//($vdo-background-color;
  border-radius: $default-border-radius;
  align-items: center;
  padding: 0 3px;
  display: flex;
  &-container {
    width: 100%; // auto; //190px; 
    align-items: center;
    justify-items: center;
    justify-content: center;
    z-index: 200;
    height: 56px; //80px; //100px;
    position: absolute;
    bottom: 10px; //20px; 
    z-index: 100000;

    &[data-state="0"] {
      display: none;
    }
  }

  .device-button {
    .audio.settings {
      position: absolute;
      right: -7px;
      padding: 0;
      width: 15px;
      height: 15px;
      top: -7px;
      padding : 1px;
      border: 1px solid $btn-rollback-border;
    }
  }


  .ctrl-button {
    width: 36px; //48px;
    border-radius: $default-border-radius;
    height: 36px; //30px;
    padding: 8px; // 5px;
    border: 1.2px transparent solid;
    background-color: $core-default-background;
    margin: 0 7px; // 0 6px;
    color: $multimedia-vdo-icon;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &[data-enabled="0"] {
      display: none;
    }

    &[data-muted="1"] {
      opacity: 0.3;
      pointer-events: none;
    }

    &.line {
      background-color: $multimedia-vdo-ctrl-button;
      color: $core-default-icon-reverse; // #fff;
      fill: none;
      svg {
        height: 100%;
        width: 100%;
        transform: rotate(135deg);
      }
    }

    &.reject {
      background-color: $multimedia-vdo-ctrl-button;
    }

    &.screen {
      color: $multimedia-vdo-button-accept;
      padding: 3.5px; //8.5px;
      //margin-left: 14px;
      /*  stroke-width: 1px;
        stroke:$default-icon-reverse;*/

      &[data-state="0"] {
        color: $multimedia-vdo-icon;
      }

      &[data-state="0"] {
        &:before {
          content: " ";
          position: absolute;
          height: 2px;
          width: 29px;
          top: 15px; //12px;
          left: 1px; //10px;
          background-color: $multimedia-vdo-ctrl-button;
          transform-origin: 50% 50%;
          transform: rotate(-45deg);
        }
      }
    }

    &.accept {
      color: $multimedia-vdo-button-accept;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    &[data-state="0"] {
      color: $multimedia-vdo-icon;
    }

    &[data-state="0"] {
      &:before {
        content: " ";
        position: absolute;
        height: 2px;
        width: 25px;
        top: 16px; //12px;
        left: 3px; //10px;
        background-color: $multimedia-vdo-ctrl-button;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
      }
    }

    &[data-online="1"] {
      background-color: $multimedia-vdo-ctrl-button;
      color: $core-default-icon-reverse;
    }

    &[data-enabled="0"] {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

&__devices-list {
  padding: 10px;
  min-width: 150px;
  width: auto;
  height: auto;
  position: absolute;
  background-color: $core-default-background;
  bottom: calc(100% + 15px);
  right: -134px;
  overflow: visible;
  border-radius: $default-border-radius;
  max-width: 300px;

  &::before {
    background: $core-default-background;
    //box-shadow: 0px 0px 4px 0px rgb(63 79 117 / 13%), 0 5px 0px 0 rgb(86 65 113 / 8%), 0 2px 0px 0 rgb(194 185 203 / 0%);
    content: " ";
    height: 12px;
    position: absolute;
    right: 135px;
    bottom: -6px;
    transform: rotate(45deg);
    width: 12px;
    z-index: 1;
  }

  .device-label {
    padding: 5px 10px;
    @include typo($size: 14px, $line: 20px, $weight: 400, $color: $core-default-text-color);
    text-align: left;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #fbfbfb;
    border-radius: $default-border-radius;
    width: 100%;
    text-align: center;
    justify-content: center;
    min-width: 200px;

    &:hover {
      background-color: #879bff;
      color: $core-default-background;
    }

    &[data-state="1"] {
      background-color: #6178d8;
      color: $core-default-background;
    }

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }


  .mic-selection {
    width: 50%;
    height: auto;
    border-radius: 6px;
    justify-content: center;
    border-radius: $default-border-radius;
    align-items: center;
    padding: 6px;
    margin: 0 10px;

    &.button-cancel {
      @include typo($line: 22px, $size: 16px, $weight: 300, $color: $btn-rollback-text);
      border: 1px solid $btn-rollback-border;
    }

    &.button-confirm {
      background-color: $btn-commit-background;
      @include typo($line: 22px, $size: 16px, $weight: 300, $color: $btn-commit-text);
    }
  }


  .device-heading {
    @include typo($size: 16px, $line: 20px, $weight: 400, $color: $core-default-text-color);
    padding: 0 10px;
    font-size: 14px;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

}

/*.window-meeting{
  &__commands{
    margin-left: 40.2%;//20%;
  }
}*/