&__endpoint-local {
  background-color:rgba(0,0,0,.33);
  position: absolute;
  //top: 20px;
  bottom: 10px;
  right: 10px;//40px;
  width: 120px;
  height: 80px;
  border-radius: var(--border-radius);
  border: 1px white solid;
  z-index: 100;
}
