&__video {
  height: 100%;
  width: 100%;
  background-color: $multimedia-vdo-background-color;//#262626;
  object-fit: cover;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  &[data-state="0"] {
    display: none;
    // visibility: hidden;
  }
}
