@use "mixins/drumee";

.window-trash {
  &__header {
    background: linear-gradient(135deg, var(--gray-100), var(--gray-800));
  }

  &-topbar {
    &__container {
      flex: 1;
      border-bottom: 1px solid var(--default-separator);
      border-radius: var(--default-border-radius-top);
      height: 100%;
      padding-left: 40px;
    }

    &__title {
      margin: auto;
      @include drumee.typo($size: 24px,
        $line: 24px,
        $weight: 300,
        $color: var(--default-text-color)); //$weight:400,
      @include drumee.overflow-text;

      &.purge {
        position: absolute;
        height: 100%;
      }

      .purge {
        width: max-content;
        cursor: pointer;
        border-radius: 12px;
        justify-content: center;
        background-color: var(--default-bg-block);
        border: 1px solid var(--white-f9);
        margin: auto 0 auto 15px;
        padding: 10px 20px;
        @include drumee.typo($size: 14px, $line: 24px, $weight: 400);

        &:hover {
          color: var(--primary-500);
        }
      }
    }

    &__control {
      position: absolute;
      right: 0;
    }
  }
}