/** ================================================================== *
#   Copyright Xialia.com  2011-2021
#   FILE : /src/drumee/builtins/widget/contact-invitation-form/skin/index.scss
#   TYPE : Style Component
# ===================================================================**/
@import 'mixins/drumee';

.contact-invitationForm {
  &__ui {
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;    
  }

  &__main {
    align-items: center;
    height: auto;
  }

  &__container {
    margin-top: 15px;
  }

  &__wrapper {
    @include typo($size: 16px, $line: 21px, $color: $egrey-78); 

    &.header {
      align-content: center;
      align-items: center;
      height: 60px;
      justify-content: center;
    }
    
    &.email {
      align-content: center;
      align-items: center;      
      height: 60px;
    }

    &.buttons {
      max-width: 265px;
      padding-top: 20px;
      width: 62%;
    }

    &.error-message {
      align-items: center;
      min-height: 30px;
      padding: 10px 0;
      text-align: center;
      // width: 320px;
      position: relative;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;      
      @include typo($size: 16px, $weight:300, $line: 18px, $color:var(--default-text-alert)); 
    }
  }

  &__note {
    &.header {
      @include typo($size: 18px, $line: 21px, $color: var(--secondary-text-color));//$eblue);
    }
  }

  &__entry {
    @include typo($size: 16px, $line: 21px, $color: var(--default-text-color));//$egrey-2f);
    width: 100%;

    &[data-status='error'] {
      & input {
        border-bottom: 1px solid  var(--default-border-error);//$default-border-error;
        
        &:focus {
          border-color: var(--default-border-error);// $default-border-error;
        }
      }
    }

    & input {
      border-bottom: 1px solid var(--default-entry-border-bottom);//$entry-border-bottom;
      width: 100%;
      @include typo($size: 16px, $line: 21px, $color: var(--default-text-color));

      &[data-status='error'] {
        border-bottom:var(--default-border-error);
      }

      &:focus {
        border-color:  var(--focus-border-placeholder);//$focus-border-bottom;

        @include placeholder-input {
          color:  var(--focus-text-placeholder);// $focus-text-placeholder;
        }
      }

      &::placeholder {
        @include typo($size: 16px, $line: 21px, $weight: 300, $color: var(--default-text-placeholder));
      }
    }

    &.message {
      width: 100%;
      margin-top: 15px;

      & textarea {
        @include typo($size: 16px, $line: 21px, $color:var(--default-text-color));// $egrey-2f);
        background: var(--default-bg-block);
        border-radius: $default-border-radius;
        border: none;
        outline: none;
        padding: 10px;
        resize: none;

        &::placeholder {
          @include typo($size: 14px, $line: 14px, $weight: 300, $color:var(--default-text-placeholder));// $default-text-placeholder);
        }
      }
    }
  }
  
  &__icon {
    height: 26px;
    width: 26px;

     &.account_mail{
       margin-right: 20px;
       opacity:0.55;
     }
     &.user-help{
      cursor: pointer;
      margin-left: 20px;
      opacity:0.55;
      width: 35px;
      &:hover{
        color:var(--default-icon-hover);
      }
     }
  }

  &__error {
    color:  var(--default-text-error);//$default-text-error;
    margin: auto;
  }

  &__buttons-wrapper {
    height: 60px;
    justify-items: center;
    width: 100%;

    & .button {
      @include typo($size: 16px, $line: 19px);
      align-items:center;
      border-radius:$default-border-radius;
      height: 35px;
      justify-content: center;
      max-width: 115px;
      width: 100%;
    }
  }

  &__button-cancel {
    @include typo($weight: 300, $color: $btn-rollback-text);
    border: 1px solid $btn-rollback-border;
    margin-right: 17px;

    &:hover {
      border:2px solid $btn-rollback-border-hover;
      color: $btn-rollback-text-hover; 
    }
  }

  &__button-confirm {
    @include typo($color: $btn-commit-text);
    background-color: $btn-commit-background ;
    border: 1px solid $btn-commit-border;
    margin-left: 17px;

    &:hover {
      background-color:$btn-commit-background-hover;
      border-color: $btn-commit-border-hover;
    }

    &[data-error=on] {
      opacity: 0.2;
      pointer-events: none;
      @include typo($weight: 300, $color: $white);
    }

    &[data-wait="1"] {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}