/* =================================================================== *
   #   Copyright Xialia.com  2011-2016                                    *
   #   FILE : src/drumee/skin/global/button
   #   TYPE : Global styles, for the whole platform
   # ==================================================================== */
.entry-reminder{
  &__ui{
    border: 1px solid transparent;
    @include placeholder-input {
      color:$default-text-placeholder; //$egrey-78;
      font-weight: 300;
    }
  }
  &__component{
    width : 100%;
    &[data-status="error"] {
      color:$default-text-error ;   ;// #FF4578;
      border-color: transparent;
      // .input-details {
      //   color: #FF4578;
      // }
      input {
        border-color: $default-border-error;//#FF4578;    
        @include placeholder-input {
          color:$default-text-placeholder; 
          font-weight: 300;   
        }            
      }
    } 
  }
  &__main{
    width : 100%;
    height: 100%;
    form{
      width: 100%;
      height: 100%;
    }
    input {
      padding: 0;
      min-height: 0;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $entry-border-bottom;//#F1F1F6;
      font-size: inherit;
      line-height: inherit;
      background: transparent;
      &:focus {
        border-color: $focus-border-bottom; //#4A90E2;
        @include placeholder-input {
          color:$focus-text-placeholder; //#4A90E2; 
         // font-weight: 300;
        }
      }
    }
  }
  &__label.widget{
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    &[data-state="1"]{
      display: block;
      transition: all .5s;
      @include typo($color: #4A90E2, $size: 13px, $weight: 300, $line: 16px);
      text-align: left;
      margin: 0 auto 0 0;
    }
  }
  // &__ui[data-status=error] .entry-reminder__main.showerror{
  //   padding-bottom: 12px;
  // }
  &__main.showerror{
    overflow:hidden;
    padding-bottom: 14px;
    min-height: 34px;
  }
  &_error{
    @include typo($color: $default-text-error, $size: 12px);//$weight:300,
  //  color: $default-text-error;//red;
  //  font-size: 12px;
    height: 40px;
    padding-left: 3px;
    position: absolute;
    top: calc(100% - 15px);
    z-index: 9;
  }
  &__icon{
    width   : 23px;
    height  : 23px;
    padding : 0;
    position: absolute;
    cursor: pointer;
    right: -25px;
    top: 9px;   
    &.error{
      @include typo($color: $default-text-error, $size: 12px);
      padding : 4.5px;
      // right: -46px;
      // top: 9px;      
    } 
    &[data-shift="1"]{
      right: -46px;
    }
  }
}
