/** ================================================================== *
#   Copyright Xialia.com  2011-2016
#   FILE : builtins/sandbox/skin/sandbox
#   TYPE : Module
# ===================================================================**/
@use 'mixins/drumee.scss';
@use '../../skin/index.scss';
.window-analytics-transfer {
  &__ui{
    height: 800px;
    max-height: calc(100vh - 90px);
    width: 600px;
    align-items: center;
    min-width: 195px;    
    background-color: var(--default-bg);
    left: calc(50vw - 300px);
    top: 80px;
    overflow: hidden;
  }
  // &__main{
  //   width: 100%;
  //   height: 100%;
  //   align-items: center;   
  // }
  // &__body{
  //   width: 100%;
  //   height: calc(100% - 44px);
  //   align-items: flex-start;   
  //   align-content: flex-start;   
  // }

  &__header, &__command{
    background-color:var(--default-bg-alert);//rgb(253, 74, 119);
  }

  .chart-line{
    height: 33.33%;
    width: 100%;
  }
}
