/************************************************************
                       dmz -  colors used
************************************************************/

/**background**/ 
$dmz-footer-background               : #5a70d5;
$dmz-btn-open-desk-color             : #18AC73;
$dmz-default-background              : $core-default-background;
$dmz-default-block-background        : $core-default-block-background;

/**text**/
$dmz-default-text-color              : $core-default-text-color;
$dmz-secondary-text-color            : $core-secondary-text-color;
$dmz-default-text-reverse            : $core-default-text-reverse; 
$dmz-default-text-placeholder        : $core-default-text-placeholder;
$dmz-default-text-title              : $core-default-text-title;
$dmz-footer-title-color              : #FDD835;
$dmz-backgroundless-text-hover       : $core-backgroundless-text-hover;

/**icon**/
$dmz-icon-valid                      : #18A3AC;
$dmz-icon-invalid                    : #fd635b;
$dmz-default-icon-neutral            : $core-default-icon-neutral;
$dmz-default-icon-reverse            : $core-default-icon-reverse ;
$dmz-default-thinline-icon-hover     : $core-default-thinline-icon-hover; //close icon
$dmz-default-icon-success            : $core-default-icon-success;
$dmz-default-icon-hover              : $core-default-icon-hover;

/**border**/
$dmz-default-action-btn-border-color  : #FFFFFF;
$dmz-default-border-error             : $core-default-border-error;


