/************************************************************
                        Multimedia: colors used
************************************************************/

/**background**/ 
$multimedia-main-background-filename        : #EDEDED; //folder name hover background

 //meeting
$multimedia-vdo-background-color            : $core-multimedia-background;//also in connect
$multimedia-vdo-ctrl-button                 : #EA4D44;//$eorange-sunset

 //play a video
$multimedia-player-vdo-background-color     : black;//$core-multimedia-background;

//open a document
$multimedia-player-doc-background            : #F1F3F4;//$core-multimedia-background;// old: #f2f2f2;

 //see a picture
$multimedia-player-image-background          : black;//$core-multimedia-background;//#F1F3F4;
$multimedia-slider-player-image-background   : black;//$core-multimedia-background;//#F1F3F4;$core-default-background-black   : #000000;

 //audio player
$multimedia-audio-player-background          : $core-multimedia-background; //old:#2F2F2F;
$multimedia-audio-player-background-footer   : #F1F3F4; //$audio-player-background
$audio-player-background                     : #F1F3F4;

/**icon**/
 //meeting
$multimedia-vdo-button-accept        : #18AC72;//$egreen-soft;
$multimedia-vdo-icon                 : #b6bfca;//$egrey-b6

 //document,video, picture
$multimedia-player-default-icon      : $core-default-icon-neutral;//player-default-icon #494949;//$egrey-49

 //audio player
$multimedia-audio-player-icon        : #494949;//#2F2F2F; //$audio-player-icon-black


/**text-color**/
$multimedia-default-text-title   : #494949;//$core-default-text-title;




