/** ================================================================== *
#   Copyright Xialia.com  2011-2021
#   FILE : /src/drumee/modules/welcome/signin/skin/index.scss
#   TYPE : Component style
# ===================================================================**/

@use 'mixins/drumee';

.welcome-signin-url {
  width: 100%;
  align-items: center;
  justify-content: center;

  &__header {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include drumee.typo($size: 28px, $line: 45px, $weight: 400, $color: var(--default-text-reverse));
  }

  &__entry {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--default-bg);
    max-width: 280px;
    width: 100%;
    border-radius: var(--border-radius);
    &[data-status="error"] {
      border-radius: var(--border-radius);
      border: 2px solid var(--default-border-error);
    }
  }

  &__input {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 280px;

    &.url-bar {
      width: 100%;
      max-width: 100%;
    }

    & input {
      @include drumee.typo($size: 18px, $line: 28px, $color: var(--default-text-color));
      border-bottom: none;
      border-radius: 0 6px 6px 0px;
      padding: 5px;
      padding-left: 15px;

      &::placeholder {
        @include drumee.typo($size: 18px, $line: 28px, $weight: 300, $color: var(--connect-text-placeholder));
      }
    }
  }

  &__protocol {
    @include drumee.typo($size: 18px, $line: 28px, $color: var(--white-f9));
    position: absolute;
    right: 104%;
  }

  &__domain {
    @include drumee.typo($size: 18px, $line: 28px, $color: var(--white-f9));
    left: 102%;
    position: absolute;
  }

  &__button-wrapper {
    align-content: center;
    justify-content: center;
    margin: 25px 0;
    height: 60px;
    max-width: 280px;
    width: 100%;

    &.url-bar {
      width: 50px;
      margin-left: 10px;
      height: 40px;
    }
  }

  &__alt {
    margin-top: 35px;
    @include drumee.typo($size: 18px, $line: 28px, $color: var(--white-f9));
    text-decoration: underline;
  }

}