
&__container{
  width:100%;
  align-items: center;
  //max-width: calc(100% - 60px);

  .file-info {
    @include typo($size:12px,$line:14px,$weight:300,$color:var(--default-text-color)); //#000000
  }
  &[data-status="locked"] {
    opacity: 0.6;
  }
}
