@use "mixins/drumee";

.media-row {

  &__container {
    width: 100%;
    align-items: center;
 
    .file-info {
      @include drumee.typo($size: 12px, $line: 14px, $weight: 300, $color: var(--default-text-color)); //#000000
    }

    &[data-status="locked"] {
      opacity: 0.6;
    }
  }
}