@use "mixins/drumee";

.folder {
  color: var(--default-text-reverse); //var(--ewhite);
  &.preview{
    background-color: var(--folder-main);//#468ee5;
    height: 20px;
    border-radius:3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      border-top: 5px solid var(--folder-main-light);//#75b1fc;
      border-left: 5px solid transparent;
      border-right: 5px solid var(--folder-main-light);//#75b1fc;
      border-radius: 0 3px 0 0;
      height: 0;
      width: 18px;
    }
  }
  .media-checkbox-wrapper {
    border-color: var(--ewhite);
  }
}


.media-row{
  &[data-selected="1"]{
    .media-row-forbiden{
      &__container{
        left: 2px;
        top: 2px;
      }
    }  
  }
  &-forbiden{
    &__container{
      /*width: 100%;
      height: 100%;*/
      width: 180px;
      height:auto;
      display: flex;
      flex-direction: column;
      position: absolute;
      background: white;
      justify-content: center;
      border: 1px solid var(--eorange-sunset);//#EA4D44;
      border-radius: var(--border-radius-tiny);//3px;
      background-color: var(--default-bg); ;//#FFFFFF;
      box-shadow: 0 5px 8px 1px rgba(63,79,117,0.13), 0 6px 16px 0 rgba(86,65,113,0.08), 0 2px 14px 0 rgba(194,185,203,0);
      Z-index:200;
      margin: auto auto auto 144px;      
    }
    &__text{
      //margin: 2px auto; 
      @include drumee.typo($line:12px,$size:11px,$weight:400,$color: var(--eorange-sunset) ); //#EA4D44
      text-align: center;
      //width:80px;
      padding:2px 8px 1px;
    }
    &__icon{
      width: 14px;
      height: 14px;
      padding: 2px;
      border: 0.5px solid var(--eorange-sunset);//#EA4D44;
      background-color: var(--eorange-sunset);//#EA4D44;
      box-shadow: 0 5px 8px 1px rgba(63,79,117,0.13), 0 6px 16px 0 rgba(86,65,113,0.08), 0 2px 14px 0 rgba(194,185,203,0);
      color:var(--ewhite); 
      fill:var(--ewhite); 
      //margin: 2px auto;
      border-radius:50px;
      position:absolute;
      top:-6px;
      left:-6px;
    }
  }
}

