.media-uploader, .svg-progress{
  &__ui{
    position: absolute;
    background-color: var(--default-bg); //var(--ewhite);
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;      
  }
  &__main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 372px 173px 130px auto;
    //grid-template-columns: 60px 60px minmax(310px, auto) 180px 120px 80px;
    padding-left: 60px;
  }
  &__container{
    &-name{
      width: 100%;
      align-content: center;
      flex-wrap: wrap;
    }
    &-progress{
      width : 70%;
      height: 100%;
    }
    &-size{
      width: 100%;
    }
    .drumee-spinner{
      width: 32px;
      height: 32px;
      left: 100px;      
    }
  }
  &__value{
    &-filesize{
      letter-spacing: 0.1px;
      padding-left: 8px;
      @include typo($line:33px,$size:14px,$weight:300,$color:var(--default-text-color));//#2F2F2F);
    }
    &-filename{
      margin-left: 11px;
      padding-right: 10px;
      padding-left: 24px;
      white-space: nowrap;
      overflow: hidden;
      .root-node,& .drumee-text {
        overflow: hidden;
        text-overflow: ellipsis;
        @include typo($line:16px,$size:14px,$weight:300,$color: var(--egrey-49));//#494949); 
        letter-spacing: 0.1px;
        text-align: left;
      }
    }
  }
  &__bar{
    height: 4px;
    width: 100%;
    border-radius: 1.5px;
    margin: auto 0 11px;
    background-color: rgba(182,191,202,0.36);
    &-percent{
      margin-left: -1em;
      @include typo($line:9px,$size:9px,$weight:300,$color: var(--egreen));//#18A3AC);      
      letter-spacing: 0.07px;
    }
    &--fg{
      height: 100%;
      transition: width 1s linear;   
      width: 0%;
      border-radius: 1.5px;
      background-color: var(--egreen);//#18A3AC;
    }
  }
  &__close{
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    margin: 0 2px;
    padding: 3.5px;    
    svg{
      width: 100%;
      height: 100%;
      fill: var(--eorange-sunset);//#FA8540;
    }    
  }
}