@use "mixins/drumee";

.dmz-sharebox,
.dmz-meeting {
  &-password {
    &__content {
      height: 100%;
      width: 100%;
    }

    &__container {
      border-radius: var(--corner-radius-7);
      background-color: var(--white);
      gap: var(--spacer-7);
      padding: var(--spacer-7);
      margin-top: var(--spacer-9);
    }

    &__title {
      align-items: center;
      height: 100px;
      width: 100%;
    }

    &__content {
      align-items: center;
      justify-content: start;
      margin: 0 auto 0;
      max-width: 380px;
      min-width: 320px;
      width: 100%;
      gap: var(--spacer-1);
    }

    &__row {
      align-items: center;
      background-color: var(--default-block-background);
      border-radius: 20px;
      height: 100%;
      margin-bottom: 20px;
      max-height: 56px;
      width: 100%;
      border: 1px solid var(--neutral-300);
      overflow: hidden;

      &.no-background {
        background-color: transparent;
      }

      &.buttons-wrapper,
      &.message-wrapper {
        &[data-mode="closed"] {
          display: none;
        }

        &[data-error="yes"] {
          opacity: 0.5;
          pointer-events: none;
          color: var(--white);
          background-color: var(--red-500);
        }
      }
    }

    &__note {
      @include drumee.typo($size: 20px,
        $line: 28px,
        $weight: 400,
        $color: var(--default-text-reverse));
      justify-content: center;
      text-align: center;
      width: 100%;

      &.title {
        @include drumee.typo($size: 30px,
          $line: 32px,
          $weight: 400,
          $color: var(--neutral-600));
      }
    }

    &__icon {
      &.lock {
        color: var(--default-icon-neutral);
        height: 21px;
        padding: 0px;
        width: 21px;

        svg {
          fill: var(--egrey-2f);
        }
      }

      &.input-wrapper {
        margin: 12px;
        position: absolute;
      }
    }

    &__entry {
      & input {
        @include drumee.typo($size: 18px,
          $line: 28px,
          $color: var(--default-text-color));
        border-bottom: none;

        &::placeholder {
          @include drumee.typo($size: 18px,
            $line: 28px,
            $weight: 300,
            $color: var(--default-text-placeholder));
        }
      }

      &[data-status="error"] {
        border-radius: var(--border-radius);
        border: 2px solid var(--default-border-error);
      }

      & .entry-reminder_error {
        display: none;
      }

      &.with-icon {
        height: 100%;
        padding: 0 0 0 65px;
        width: 100%;
      }

      .pw-shower {
        color: var(--egrey-2f);
        cursor: pointer;
        left: auto;
        opacity: 0.7;
        position: absolute;
        right: 15px;
        top: 10px;
      }
    }

    &__button-confirm {
      @include drumee.typo($size: 20px,
        $line: 28px,
        $color: var(--default-text-reverse));
      align-items: center;
      background-color: var(--primary-500);
      border-radius: 20px;
      cursor: pointer;
      height: 100%;
      justify-content: center;
      width: 100%;

      &:hover {
        box-shadow: 0 0px 13px 0px rgba(169, 186, 255, 0.5);
      }
    }
  }
}