/** ================================================================== *
#   Copyright Xialia.com  2011-2021
#   FILE : /src/drumee/builtins/window/addressbook/widget/tag-item/skin/index.scss
#   TYPE : Style Component
# ===================================================================**/
@import 'mixins/drumee';


.addressbook-widget-tag-item {
  &__ui {
    background-color: inherit;
    width: 100%;
    margin-top:1px;
    height: 35px;// 30px;
    overflow: hidden;

    &[data-active="active"],
    &[data-radio="on"],
    &:hover {
      background: var(--default-background-hover);
      color: var(--default-text-hover) !important;
      
      &.form-tag {
        background: transparent;
        color	: inherit;
      }

      & .addressbook-widget-tag-item__container {
        &.editTag,
        &.addTag {
          & .destroy-tag {
            color: var(--egrey-89) !important;
          }
        }
      }

      & .addressbook-widget-tag-item__note.name {
        color : var(--default-text-reverse) !important;
        width: 120px;
        @include overflow-text;
        .inner{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      
      & .edit-icon {
        display: flex;
      }
    }

    &[data-form='on'] {
      &[data-radio='on'],
      &:hover {
        background: transparent;
        @include overflow-text;
      }
    }    
  }

  &__main {
    background-color: inherit;
  }

  &__container {
    @include typo($size: 14px, $line: 14px, $color: var(--default-text-color));
    cursor: pointer;
    margin: 1px 0.5px 0px 0px;
    padding-bottom:4px;
    padding-left: 15px;
    padding-top: 4px;

    &.min-view {
      padding: 2px 0px 2px 42px;
    }
  }

  &__note {
    &.name { 
      align-items: center;
      width: 148px;
      @include overflow-text;
    }
  }

  &__icon {
    color : var(--default-icon-reverse);   
    height: 14px;
    margin: 3px 4px 4px;//4px;
    position: absolute;
    right: 4px;
    width : 14px;

    &.edit-icon {
      display : none;
    }

    &.destroy-tag {
      color: var(--default-icon-neutral);
      opacity:0.75;
    }
  }

  &__entry {
    max-width: 117px;
    left: 13px;
    overflow: hidden;
    
    & input {
      @include typo($size: 14px, $line: 16px, $color: var(--default-text-color));
      background: var(--default-block-background); //var(--white-f9);
      border-bottom: 1px solid var(--default-entry-border-bottom);
      cursor: text;
      height: 25px;
      &:hover {
        border-color: var(--focus-border-placeholder);//var(--eblue);
      }
      &:focus {
        border-color:var(--focus-border-placeholder);
      }

      &::placeholder {
        @include typo($size: 14px, $line: 16px,$weight:300, $color: var(--default-text-placeholder));
      }
    }
  }

  &__chat_note{
    align-items: center;
  //  color:var(--eblue);
    height: 9px;//14px
    left:-1px;// -4px;
    margin-bottom: auto;
    margin-right: 5px;
    margin-top: auto;
    width: 9px;//14px
    background-color: var(--special-tag-note-chat);//#1187f6;//var(--eblue);
    border-radius: 50%;
    border: 1px solid var(--ewhite);
    &:hover{
      color:var(--default-text-hover); 
    }
  }
 
  &__chat_wrapper[data-state="0"] {
    visibility: hidden;
  }
}