


.window-team{
  .dialog__wrapper--context{
    position: absolute;
    top: 100%;
  }
  &__peers-roll{
    width: 260px;
    min-height: 30px;
    margin: 30px auto 0 auto;
  }
  &__peers-container{
    background-color: var(--default-background);    
    box-shadow: var(--shadow-container);//0 5px 8px 1px rgba(63,79,117,.13), 0 0 3px 0 rgba(86,65,113,.08), 0 2px 8px 0 rgba(194,185,203,0);
  }
  &__button{
    margin: 20px auto;
  }
}