.slider-reader{
    font-family: Lato, 'Open Sans', sans-serif;
    font-weight: 300;
    h1 {
	font-size: 30px;
	color: #eee;
    }
    h2 {
	font-size: 40px;
	color: #111;
    }
    h3 {
	font-size: 50px;
	color: #111;
    }
}
