@use "mixins/drumee";
@use 'builtins/webrtc/skin/index' as *;
@use 'builtins/webrtc/skin/topbar' as *;
@use 'builtins/webrtc/skin/command' as *;
@use 'builtins/webrtc/skin/attendee' as *;
@use 'builtins/webrtc/skin/sound-analyzer' as *;
@use 'builtins/webrtc/skin/remote' as *;

.window-connect {
  @include webrtc-ui;
  @include webrtc-topbar;
  @include webrtc-command;
  @include webrtc-attendee;
  @include webrtc-sound-analyzer;
  @include webrtc-remote;
}

.window-connect {
  &__ui {
    background-color: var(--default-background);
    width: 440px;
    height: 480px;
    top: 85px;
    left: calc(50vw - 220px);
    box-shadow: var(--shadow-container);
    overflow: visible;
    flex-direction: column;
    display: flex;

    &[data-device="mobile"] {
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
    }

    &[data-tmp="1"] {
      z-index: 9000 !important;
    }
  }

  &__avatar {
    &[data-state="open"] {
      visibility: visible;
      position: absolute;
      z-index: 0 !important;
    }
  }


  &__header {
    background-color: var(--connect-header-bg);
    border-bottom: none;
    height: 44px;
    min-height: 44px;
    width: 100%;
    z-index: 1000;

    .media-devices__list {
      .menu-items {
        left: 0;
        background: var(--default-background);
      }
    }
  }

  &__body {
    align-items: center;
    justify-content: center;
    background-color: var(--connect-video-background);
    height: calc(100% - 44px);
    z-index: 100;

    .core-webrtc__ui {
      width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }

  &__presenter {
    video {
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

  &__endpoints {
    width: 100%;
    height: 100%;
    display: grid;
    &[data-mode="normal"]{
      //grid-template-columns: repeat(auto-fill, 100%);
      grid-template-columns: 0 100%;
      grid-template-rows: 100%;
    }
    &[data-mode="presenter"]{
      grid-template-columns: calc(100% - 200px) 200px;
      grid-template-rows: 100%;
      //grid-template-columns: repeat(auto-fill, minmax(100px, 100%) 120px);
    }
  }

  &__avatar-container {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;

    .user-profile {

      &[data-online="1"],
      &[data-online="2"] {
        &:before {
          visibility: hidden;
        }
      }

      &[data-online="2"] {
        &:before {
          visibility: hidden;
        }
      }
    }
  }

  &__avatar.user-profile {

    &[data-online="1"],
    &[data-online="2"] {
      &:before {
        visibility: hidden;
      }
    }

    &[data-online="2"] {
      &:before {
        visibility: hidden;
      }
    }

    .user-profile__icon {
      width: 150px;
      height: 150px;
    }

    .user-profile__main {
      background-color: #5E5E5E !important;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .user-profile__initiales {
      border-radius: 100%;

      .note-content {
        font-size: 45px;
        font-weight: bold;
      }
    }

    &.user-profile__ui[data-default="1"] svg {
      fill: var(---default-icon-neutral);
    }
  }

  &__uname,
  &__commands {
    background-color: var(--connect-transparent-background)  !important;
  }

  &__status {
    .text {
      padding: 5px 10px;
      background-color: var(--connect-transparent-background); //rgba(0,0,0,0.33);
      border-radius: var(--border-radius);
    }
  }

  &__confirm-container {
    background-color: var(--default-bg);
    padding: 0 20px;
    width: 260px;
    height: 150px;
    border-radius: 10px;
  }

  &__confirm {
    background-color: transparent;
    width: 100%;
    align-items: center;
    justify-content: center;

    .confirm-message {
      text-align: center;
      padding: 0 10px;
      @include drumee.typo($size: 14px, $line: 20px, $weight: 400, $color: var(--default-text-color));
    }

    .action-btn {
      @include drumee.typo($size: 14px, $line: 20px, $weight: 400, $color: var(--default-text-color));
      margin-top: 10px;

      .buttons {
        margin: 5px 10px;
        border: 1px solid var(--btn-rollback-border); // #bdbdbd;
        flex: 1;
        align-items: center;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: center;
        border-radius: var(--border-radius);
        height: 32px;
        @include drumee.typo($size: 14px, $line: 20px, $color: var(--btn-rollback-text));

        &:hover {
          border: 2px solid var(--btn-rollback-border-hover);
          @include drumee.typo($size: 14px, $line: 20px, $color: var(--btn-rollback-text)-hover);
        }
      }
    }
  }

  &__main {
    display: grid;
    grid-auto-flow: row;
    height: 100%;
    width: 100%;
  }

  &__main-content {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__main-view {
    height: 100%;
    width: 100%;

    .user-profile {
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    &.local {
      min-height: 30px;
      @include drumee.typo($color: var(--default-text-reverse), $weight: 400, $line: 30px, $size: 16px);
      justify-content: center;
    }

    &.status {
      @include drumee.typo($color: var(--default-text-color), $line: 30px, $size: 16px);
    }
  }

  &__attendees-title {
    padding: 10px 0 15px 3px;
    justify-content: center;
    height: 20px;
    @include drumee.typo($color: var(--default-text-title), $line: 14px, $size: 15px);
  }

  &__message-container {
    position: absolute;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;

    .message-text {
      padding: 10px;
      background-color: var(--default-transparent-black);
      margin: auto 10px 90px 10px;
      border-radius: var(--border-radius); //3px;
      @include drumee.typo($color: var(--default-text-reverse), $weight: 400, $line: 20px, $size: 16px);
    }
  }

  &__timer-container {
    position: absolute;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    .timer-text {
      padding: 10px;
      background-color: var(--default-transparent-black);
      margin: 10px;
      border-radius: var(--border-radius); //3px;
      @include drumee.typo($color: var(--default-text-reverse), $weight: 400, $line: 20px, $size: 16px);
    }

    .countdown-timer {
      &__ui {
        background-color: #fff;

        .countdown-timer__counter {
          padding: 5px 10px;
        }
      }
    }
  }

  &__list {
    & .menu-topic-items {
      &__wrapper {
        left: 5px;
      }

      &.menu-items {
        height: 300px;
        overflow-y: auto;
      }
    }
  }
}
