@use "mixins/drumee";

.player-audio {
  &-topbar {
    &__main {
      background: linear-gradient(135deg, #dcb2ff, #b251fb);

      border-bottom: none;
      border-radius: var(--spacer-6) var(--spacer-6) 0 0;
      cursor: pointer;
      height: 100px;
      min-height: 44px;
      width: 100%;
      color: var(--default-bg);
      justify-content: center;
    }

    &__action {
      left: 10px;
      right: auto;
      z-index: 1;
    }

    &__control {
      .icon {
        color: var(--default-bg);
        height: 32px;
        width: 32px;

        &:hover {
          color: var(--primary-500);
        }
      }
    }

    &__title {
      height: auto;
      justify-content: center;
    }

    &__note {
      &.title {
        align-items: center;
        padding: 0;
        @include drumee.typo(
          $size: 20px,
          $line: 24px,
          $weight: 300,
          $color: var(--multimedia-default-text-title)
        ); // var(--default-text-color));// $size:18px,
        @include drumee.overflow-text;

        &.inner.note-content {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
