/** ================================================================== *
#   Copyright Xialia.com  2011-2021
#   FILE : /src/drumee/modules/desk/wm/notification/skin/index.scss
#   TYPE : Style Component
# ===================================================================**/
@import 'mixins/drumee';

.notification-panel {
  &__overlay {
    background: var(--default-bg);
    border-radius: 5px;
    height: 100%;
    max-height: 500px;
    min-height: 360px;
    min-width: 300px;
    padding: 15px 0px 3px 0px;//18px 1px 3px 10px;
//    padding: 18px 0px 3px 0px;
    position: absolute;
    right: -55px;
    top: 50px;
    width: 100%;
    box-shadow: var(--shadow-main);
  }


  &___ico_button.notification-bell {
    color: var(--default-icon-reverse);
    cursor:pointer;
    height: 40px;
    padding:6px;// 3px;
    width: 40px;
    flex-shrink: 0;
    //z-index: 10;
    border-radius: var(--border-radius);
    background-color: var(--default-transparent-bg);//hsla(0,0%,78.4%,.5);//rgba(47,47,47,.2);
    box-shadow: 0 2px 2px 1px rgb(63 79 117 / 13%), 0 6px 16px 0 rgb(86 65 113 / 8%), 0 2px 14px 0 rgb(194 185 203 / 0%);

    &:hover {
      background: var(--default-icon-hover);
      border-radius: var(--border-radius);
    }
  }

  &__digit {
    align-items: center;
    background-color:var(--default-bg-alert);// $default-notification-bg;
    border-radius: 50%;
    height: 18px;
    justify-content: center;
    position: absolute;
    right: -6px;//0;
    top: -5px;
    width: 18px;
    user-select: none;
    & .inner.note-content {
      @include typo($size: 10px, $line: 12px, $color: var(--default-text-reverse));
    }
  }
}
