.invitation__container {
  &-commands {
    width: 100%;
    justify-content: center;

    &[data-active="0"] {
      pointer-events: none;
      opacity: 0.5;
    }

    &[data-state="open"] {
      z-index: 100 !important;
    }

    .dialog__button--submit {
      margin: revert;
      min-width: 115px;
      height: 35px;
      @include typo($size: 15px, $line: 25px);
    }
  }

  &-options {
    &[data-active="0"] {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &-buttons {
    color: var(--default-icon-neutral);
    margin: 15px auto 2px;

    &[data-state="0"] {
      pointer-events: none;
      opacity: 0.5;

      &:hover {
        color: var(--default-thinline-icon-hover);
        opacity: 1;
      }
    }

    &--option {
      cursor: pointer;
      margin: 0 10px;
      width: 30px;
      height: 30px;
      padding: 5px;

      &.permission {
        margin-left: 20px;
      }

      &.message {
        margin-right: 10px;
      }

      &:hover {
        color: var(--default-thinline-icon-hover);
        opacity: 1;
      }

      &[data-state="1"] {
        background-color: var(--default-bg-hover);
        border-radius: var(--border-radius);
        color: var(--ewhite);
      }
    }
  }

  &--secondary-btn {
    align-items: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--btn-rollback-border);
    cursor: pointer;
    height: 35px;
    justify-content: center;
    margin: 0px 10px 0px 0px;
    min-width: 115px;
    padding: 0 12px;
    @include typo($size: 15px, $line: 25px, $color: var(--btn-rollback-text));

    &[data-editable="0"] {
      display: none;
    }

    &:hover {
      border: 2px solid var(--btn-rollback-text-hover);
      color: var(--btn-rollback-text-hover);
    }
  }
}