
@import 'mixins/drumee';
@import "buttons.scss";

.invitation-settings {
  &__ui {
    background-color:var(--default-bg);
    border-radius: var(--border-radius);
    height: auto;
    margin: 20px auto 0;
    min-width: 320px;
    width: 100%;
    z-index: 0;
  }

  &__access-list {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include typo($size: 12px, $line: 14px, $color:#FA8540, $weight: 400);

    &-big {
      @include typo($size: 16px, $line: 19px, $color:#FA8540, $weight: 400);
    }
  }

  &__label {
    padding-bottom: 15px;
    @include typo($size: 12px, $line: 14px, $color: var(--default-text-color), $weight: 400);
  }

  &__button {
    align-items: center;
    border-radius:var(--border-radius);
    border: 1px solid var(--btn-rollback-border);
    cursor: pointer;
    height: 35px;
    justify-content: center;
    margin: 25px auto 10px auto;//15px auto 10px auto;
    min-width: 115px;
    padding: 0 12px;
    @include typo($size:15px,$line:25px,$color: var(--btn-rollback-text));

    &[data-editable="0"] {
      display: none;
    }

    &:hover {
      border:2px solid var(--btn-rollback-text-hover);
      color: var(--btn-rollback-text-hover);
    }
  }

  &__admin-header {
    @include typo($size: 12px, $line: 14px, $color:#FA8540, $weight: 400);
  }

  .dialog__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    // margin: 15px 0 10px;
    width: 100%;
    z-index: 100000 !important;

    .preset-acknowledge__container {
      background-color: var(--default-bg);
      @include drumee-box-shadow-1();

      b {
        font-weight: bold;
      }
    }
  }
}

.invitation {
  &__tooltips {
    background-color: var(--default-bg);
    border-radius: var(--border-radius);//6px;
    box-shadow: var(--shadow-before);// 0 -2px 8px 1px rgba(63, 79, 117, 0.13), 0 5px 12px 0 rgba(86, 65, 113, 0.08), 0 -2px 4px 0 rgba(194, 185, 203, 0);
    opacity: 1;
    padding: 10px;
    position: absolute;
    @include typo($color:var(--default-text-tooltips),$size:12px,$line:14px,$weight:400);  

    &::before {
      background-color: var(--default-bg);
      content: "";
      height: 8px;
      left: calc(50% - 4px);
      position: absolute;
      top: -4px;
      transform: rotate(45deg);
      width: 8px;
    }

    &.drumate {
      background-color: var(--default-bg);
    }
  }

  &__container-recipients {
    margin-top: 12px;
    max-height:144px;
    min-height:36px;
  }

  &__icon {
    color: #89929E;
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin-left: 4px;
  }

  &-settings__label {
    @include typo($color: var(--teamroom-main), $size: 16px, $line: 22px, $weight: 400);
    justify-content: center;
    padding-bottom: 0;
  }

  .list-content {
    align-content: flex-start;
    display: flex;
    flex-flow: wrap;
    width: 310px;
  }

  &__container-recipients-roll {
    margin: 20px auto 0px;
    width: 257px;
    z-index: 60000;
  }
  .invitation-searchbox__ui{
    margin: 10px 0 0;
  }
}
