/** ================================================================== *
#   Copyright Xialia.com  2011-2020
#   FILE : /src/drumee/builtins/window/adminpanel/widget/member_choose_admins/js/skin/index.scss
#   TYPE : Component style
# ===================================================================**/
@import 'mixins/drumee';

.widget-member-chooseAdmins {
  &__ui {
    border-radius:$default-border-radius;
    background-color: var(--default-background);  
    height: calc(100% - 20px);
    max-height: 538px;
    max-width: 410px;
    min-height: 300px;
    min-width: 320px;
    width: calc( 100% - 20px);
  }

  &__main {
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__container {
    height: 100%;
    width: 100%;
  }

  &__header {
    align-items: center;
    height: 100%;
    justify-content: center;
    max-height: 90px;
    padding-top: 10px;
    width: 100%;
  }

  &__content {
    //height: 100%;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    flex:1;
    & *::-webkit-scrollbar {
      height: 100%;
      width: 2px;
    }
    
    & *::-webkit-scrollbar-thumb {
      background-color: var(--default-scrollbar-color);
      cursor: pointer;
    }
  }

  &__note {
    justify-content: center;
    width: 100%;

    &.title {
      @include typo($size: 16px, $line: 21px, $color: var(--default-text-title));
    }

    &.info {
      max-width: 237px;
      @include typo($size: 14px, $line: 16px, $color: var(--default-text-title));
    }

    &.search-title {
      @include typo($size: 14px, $line: 14px, $weight: 300, $color: var(--default-text-title));
      margin-top: 10px;
    }
  }

  &__icon {
    cursor: pointer;

    &.close {
      color:var(--default-thinline-icon);
      height: 12px;
      margin: 10px;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 12px;
      
      &:hover {
        color:var(--default-thinline-icon-hover);
      }
    }

    &.info {
      color: var(--default-icon-neutral);
      height: 15px;
      position: absolute;
      right: 20%;
      width: 15px;

      & .tooltips {
        background-color: var(--background-tooltips);
        border-radius: $default-border-radius;
        max-height: 90px;
        min-height: 60px;
        padding: 10px;
        position: absolute;
        right: 0px;
        text-align: justify;
        top: 20px;
        width: 250px;
        z-index: 1;
        @include typo($size: 12px, $line: 20px, $color: var(--default-text-tooltips));
      }
    }

    &.search-icon {
      color:var(--default-icon-neutral);
      height: 17px;
      left: 12px;
      min-width: 17px;
      right: 0;
      width: 17px;
    }

    &.search-close-icon {
      height: 10px;
      opacity: 0.6;
      position: absolute;
      right: -158px;
      top: -33px;
      width: 10px;

      &:hover {
        color: var(--default-thinline-icon-hover);//$default-thinline-icon-hover;
      }
    }
  }

  &__members-content {
    align-items: center;
    width: 100%;

    &[data-mode="closed"] {
      display: none;
    }
  }

  &__search-wrapper {
    justify-content: center;
    max-width: 325px;
    width: 100%;
  }

  &__search {
    justify-content: center;
    padding-bottom: 10px;
    width: 100%;

    &.search-result-header {
      border-radius: $default-border-radius-top;
      max-width: 380px;
      min-width: 310px;
    }
    
    &.entry {
      background: transparent;
      border-radius: 2px;
      height: 100%;
      max-height: 31px;
      max-width: 380px;
      min-height: 20px;
      min-width: 310px;
      width: 100%;
    }

    & input {
      border-bottom: 1px solid var(--default-entry-border-bottom);
      margin-left: 24px;
      width: 100%;
      @include typo($size: 15px, $line: 16px, $color: var(--default-text-color));
      
      &::placeholder {
        @include typo($size: 15px, $line: 16px, $weight: 300, $color: var(--default-text-placeholder));
      }
    }
  }

  &__list {
    background: var(--default-background);
    border-radius:6px;
    height: 100%;
    margin-bottom: 10px;
    max-width: 380px;
    min-height: 180px;
    min-width: 310px;
    padding-top: 10px;
    width: 100%;

    & .smart-container {
      height: 100%;
      padding: 10px 14px;
      width: 100%;
    }
  }

  &__footer {
    align-items: center;
    height: 100%;
    max-height:80px;
    width: 100%;
    justify-content: center;
  }

  &__buttons-wrapper {
    justify-content: center;
    width: 100%;
    padding-bottom: 15px;
  }

  &__button-cancel {
    @include typo($size: 16px, $color: var(--btn-rollback-text));
    align-items: center;
    border-radius:$default-border-radius;
    border: 1px solid var(--btn-rollback-border);
    height: 35px;
    justify-content: center; 
    margin-right: 5%;
    margin-top:5px;
    text-align: center;
    width: 115px;

    &:hover {
      border: 2px solid var(--btn-rollback-border-hover);
      color:var(--btn-rollback-text-hover); 
    }
  }

  &__button-confirm {
    @include typo( $size: 15px, $line: 16px, $color: var(--btn-commit-text));
    align-items: center;
    background-color: var(--btn-commit-background);
    border-radius:$default-border-radius;
    border: 1px solid var(--btn-commit-border);
    height: 35px;
    justify-content: center; 
    margin-left: 5%;
    margin-top:5px;
    padding: 0 5px;
    text-align: center;
    width: 115px;

    &:hover{
      background-color:var(--btn-commit-background-hover);
      border-color: var(--btn-commit-border-hover); 
    }
  }
  
  &__search-result-wrapper {
    background: var(--default-background);
    height: 90%;
    position: absolute;
    top: 10%;
    width: 100%;
    z-index: 99;

    &[data-mode="closed"] {
      display: none;
    }
  }
}