@use "sass:meta";
@use 'mixins/drumee';

@include meta.load-css('terms-and-conditions');

.welcome-signup {

  &__ui {
    min-height: 100vh;
    width: 100vw;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: start;
    background-color: var(--neutral-100);
    overflow: auto;
    font-family: var(--font-main);
    flex-wrap: wrap;
    padding: var(--spacer-7);
    gap: var(--spacer-8);
    flex-shrink: 0;

    &[data-device="mobile"] {
      padding: 10px;
      height: auto;
    }
  }

  &__main {
    top: 180px;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 480px;
    min-height: 600px;
    border-width: 1px;
    gap: var(--spacer-8);
    background-color: var(--white);
    border: 1px solid var(--neutral-200);
    padding: var(--spacer-7);
    border-radius: var(--corner-radius-6);
  }





  &__logo {
    &-container {
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    &-content {
      width: 80px;
      height: 64px;
      align-content: center;
      justify-content: start;
      align-items: start;
      flex-wrap: wrap;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  &__tips {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  &__buttons,
  &__form {
    gap: var(--spacer-6);
    width: 100%;
  }

  &__entry-main {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-width: 1px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    input {
      width: 100%;
      gap: var(--spacer-4);
      width: 100%;
      border-radius: var(--spacer-4);
      padding-top: 12px;
      padding-right: 16px;
      padding-bottom: 12px;
      padding-left: 16px;
      border: 1px var(--neutral-200) solid;
    }
  }

  &__entry-input {
    width: 100%;
    height: 100%;

  }

  &__button-main {
    width: 100%;
    height: 48px;
    opacity: 1;
    gap: var(--spacer-4);
    border-radius: var(--corner-radius-max);
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;

    &.email {
      padding-right: 3px;
      justify-content: center;
      grid-template-columns: 1fr 40px;
      background: var(--primary-500);
      color: var(--white);
      align-content: center;
      flex-wrap: wrap;

      .icon.svg-wrapper {
        height: 38px;
        width: 38px;
        color: var(--primary-500);
        background-color: white;
        border-radius: 50%;
        padding: 9px;
      }
    }

    &.api {
      justify-content: center;
      background-color: var(--neutral-200);

      .icon.svg-wrapper {
        height: 32px;
        width: 32px;
        color: var(--neutral-900);
        border-radius: 50%;
        padding: 6px;
      }
    }



    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__button.btn {
    width: auto;
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__separator {
    width: 100%;
    height: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--neutral-400);
    gap: var(--spacer-6);

    &::before,
    &::after {
      content: " ";
      flex: 1;
      height: 0;
      border: 1px solid var(--neutral-300);
      margin: auto 0;
    }
  }

  // &__button.icon {
  //   height: 32px;
  //   width: 32px;
  //   color: var(--primary-500);
  //   background-color: white;
  //   border-radius: 50%;
  //   padding: 9px;
  // }

}