.gradient-start {
  &-inner-folder {
    stop-color: #ccb2ff;
  }

  &-personal {
    stop-color: #dcb2ff;
  }

  &-private {
    stop-color: #ff90a7;
  }

  &-share,
  &-dmz {
    stop-color: #ffa5e6;
  }

  &-public {
    stop-color: #89dcff;
  }
}

.gradient-end {
  &-inner-folder {
    stop-color: #9251fb;
  }

  &-personal {
    stop-color: #b251fb;
  }

  &-private {
    stop-color: #ff5779;
  }

  &-share,
  &-dmz {
    stop-color: #ff65d5;
  }

  &-public {
    stop-color: #2aaaff;
  }
}

.window-topbar-actions {
  &__buttons-wrapper {
    gap: var(--spacer-4);
  }

  &__label-button {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: var(--spacer-3) var(--spacer-6);
    color: var(--normal-fg-10);
    background-color: var(--normal-bg-90);
    border-radius: var(--corner-radius-2);
    font-size: 14px;
    display: flex;
    gap: var(--spacer-2);
    svg {
      width: 16px;
      height: 16px;
    }
    &:hover {
      color: var(--normal-fg-20);
    }
  }

  &__icon-button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: var(--normal-fg-10);
    svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      color: var(--normal-fg-20);
    }
    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &__icon-bg-button {
    cursor: pointer;
    background-color: var(--normal-bg-90);
    color: var(--normal-fg-10);
    padding: var(--spacer-2) var(--spacer-4);
    border-radius: var(--corner-radius-2);
    svg {
      width: 24px;
      height: 20px;
    }
    &:hover {
      color: var(--normal-fg-20);
    }
  }
}

.window-menu {
  &__button-wrapper {
    align-items: center;
    gap: var(--spacer-2);
    color: white;
    background-color: var(--neutral-950);
    padding: var(--spacer-4) var(--spacer-6);
    border-radius: var(--corner-radius-max);
    cursor: pointer;
  }

  &__icon {
    color: var(--default-icon-reverse);
    cursor: pointer;
    height: 24px;
    padding: 2.5px;
    width: 24px;
  }
}
