/** ================================================================== *
#   Copyright Xialia.com  2011-2020
#   FILE : /src/drumee/modules/welcome/invitation/skin/index.scss
#   TYPE : Component style
# ===================================================================**/
@import 'mixins/drumee';

.welcome-offline{
  &__ui, &__main, &__container{
    background-color: inherit;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  &__text{
    align-items: center;
    justify-content: center;
    margin-top: 130px;
  }

  &__tips{
    align-items: center;
    justify-content: center;
    max-width:500px;
    @include typo($size: 16px, $line: 28px,$weight:300, $color: $core-default-text-reverse);      
  }

  &__icon{
    align-items: center;
    justify-content: center;
    margin-right:15px;
    width:30px;
    height:30px;
    color:$core-default-text-reverse;
    transform: rotate(-45deg);
    transform-origin: center;
    &:after{
      content: " ";
      background-color: red;
      position: absolute;
      height: 2px;
      width: 30px;
      left: 0px;
      top: 15px;
    }
  }
  &__button {
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #393F9D;
    padding: 20px;
    border-radius: 13px;
    justify-content: center;
    cursor: pointer;
    @include typo($size: 18px, $line: 18px,$weight:400, $color: $core-default-text-reverse);   
    margin-top: 30px;   
  }
}