

body {
  min-height: 100vh;
  background-color: rgb(248, 250, 252);
  visibility: visible;
}


#--router {
  .widget.photo {
    img {
      display: none;
    }
  }
  .wrapper.gateway {
    width: 100%;
    height: auto;
  }
}



@import "./vars";
@import "./lib/reset";
@import "./lib/vendor";
@import "./lib/typo";
@import "./lib/input";
@import "./lib/container";
@import "./lib/svg.scss";
@import "./lib/menu";
@import "./lib/utils";
