@use "mixins/drumee";

.window {
  &__main {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--normal-bg-90);
    border-radius: var(--corner-radius-5);
    border: 1px solid var(--neutral-800);

    &[data-device="mobile"] {
      min-width: 305px;
    }

    &-container-icons {
      width: 100%;
      height: 100%;
      padding: 20px 0px;

      &[data-device="mobile"] {
        min-width: 305px;
      }
    }
  }

  &__content-main {
    width: 100%;
    height: 100%;
  }

  &__split-body {
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: calc(100% - var(--header-height));
  }

  &__files-panel {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-bottom);
    overflow: hidden;
    z-index: 100;

    &[data-scroll="x"] {
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--default-scrollbar-color) var(--default-scrollbar-white);
    }

    .ui-resizable-e {
      right: -7px;
    }

    .smart-container {
      height: 100%;
    }

    &-wrapper {
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }

  &-filter__tab {

    &[data-radiotoggle="on"] {
      background-color:var(--normal-bg-10);
    }

  }

  &__body {
    /** To be removed */
    margin: 0 auto;
    width: 100%;
    height: calc(100% - var(--header-height));
    border-radius: var(--border-radius-bottom);
    overflow: hidden;
    z-index: 100;

    &[data-scroll="x"] {
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--default-scrollbar-color) var(--default-scrollbar-white);
    }

    .ui-resizable-e {
      right: -7px;
    }

    .smart-container {
      height: 100%;
    }

    &-wrapper {
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }

  &__warning {
    transform: translate(-50%, 50%);
  }

  &__icons {
    &-container {
      width: 100%;
      height: 100%;
    }

    &-list {
      align-content: center;
      align-items: center;
      display: flex;
      flex-flow: column;
      height: 100%;
      justify-content: center;
      justify-items: center;
      width: 100%;

      & .smart-container {
        padding: var(--spacer-2) var(--spacer-4) 0 var(--spacer-4);
      }

      &[data-type="evaluation"]::after {
        @include drumee.typo($size: 22px,
          $line: 1.3,
          $color: var(--default-text-title));
      }
    }

    &-scroll {
      justify-items: center;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, 120px) minmax(120px, 120px);
      grid-auto-rows: 121px;
      grid-gap: var(--spacer-5);
      min-height: 100px;
      align-items: center;
      padding: var(--spacer-2) var(--spacer-5) 0 var(--spacer-5);
      margin: var(--spacer-4) 0 var(--spacer-2) 0;

      &.smart-container {
        height: calc(100% - 1rem);
        width: 100%;
      }
    }
  }
}