@use "mixins/drumee";

@mixin dmz-header {
  &-header {
    &__container {
      justify-content: space-around;
      text-decoration: none;
      width: 100%;
      grid-template-columns: 128px 1fr 297px;
      padding: 0 var(--spacer-7);
      align-items: center;

      &[data-device="mobile"] {
        padding: 20px;
        grid-template-columns: 1fr;
        gap: 40px;
      }
    }

    &__logo-content {
      height: 90px;
      justify-content: center;
      align-items: center;
    }

    &__note.sender-name {
      justify-content: center;
      white-space: break-spaces;
      word-break: break-word;
      @include drumee.typo(
        $size: 28px,
        $line: 28px,
        $color: var(--neutral-900)
      );
    }

    &__title {
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;

      @include drumee.typo(
        $size: 28px,
        $line: 28px,
        $color: var(--neutral-900)
      );
    }

    &__action-box {
      align-items: center;
      justify-content: center;

      // &[data-device="mobile"] {

      // }
    }

    &__item {
      height: 100%;
      justify-content: center;
      align-items: center;
      justify-items: center;
      margin: 0 5px;
      gap: var(--spacer-4);

      &.info {
        right: 40px;
      }

      &.action-buttons {
        &[data-mode="closed"] {
          & .action-btn {
            display: none;
          }
        }
      }
    }

    &__icon {
      color: var(--default-icon-reverse);
      cursor: pointer;
      width: 24px;
      height: 24px;
    }

    &__buttons-wrapper {
      &[data-mode="closed"] {
        display: none;
      }
    }

    &__button {
      align-items: center;
      border: 1px solid var(--dmz-default-action-btn-border-color);
      border-radius: var(--border-radius);
      background: transparent;
      cursor: pointer;
      height: 100%;
      justify-content: center;
      width: 100%;
      @include drumee.typo(
        $size: 14px,
        $line: 16px,
        $color: var(--neutral-900)
      );

      &:hover {
        box-shadow: 0 0px 13px 0px rgba(169, 186, 255, 0.5);
        border: 1px solid #7891ff;
      }
    }
  }
}
