@import "mixins/drumee";
.hub-administrator{
  &__dialog.dialog__wrapper{
    position: absolute;
    width: 0;
    left: 0%;
    top: 100%;
    z-index:1000;  
  }
  .invitation__container-sharee, .invitation-settings__ui{
    box-shadow:$drumee-shadow-box ;
    background-color: var(--default-bg); 
    width: 360px;
    min-height: 240px;
    border-radius: var(--border-radius);
    //min-width: 385px;
  }
  // .invitation-recipient__ui{
  //   width: 100%;
  // }
  .invitation-settings__list-destination{
    .invitation-recipient__ui{
      width: 148px;
    }  
  }
  .invitation-settings__button{
    margin :20% auto 6%; //22px auto;
  }
  .invitation-shareeroll__list{
    margin-top: 12px;
  }
}
