:root {
  --font-light: "Armin Grotesk", sans-serif;
  --font-light-italic: "Armin Grotesk", sans-serif;
  --font-main: "Armin Grotesk", sans-serif;
  --font-italic: "Armin Grotesk", sans-serif;
  --font-medium: "Armin Grotesk", sans-serif;
  --font-medium-italic: "Armin Grotesk", sans-serif;
  --font-bold: "Armin Grotesk", sans-serif;
  --font-bold-italic: "Armin Grotesk", sans-serif;

  --main-typo-light: --font-light;
  --main-typo: --font-main;
  --main-typo-medium: --font-medium;
  --main-typo-bold: --font-bold;
  --main-typo-light-italic: --font-light-italic;
  --main-typoitalic: --font-italic;
  --main-typo-medium-italic: --font-medium-italic;
  --main-typo-bold-italic: --font-bold-italic;
}