:root {
  --font-light: "Armin Grotesk", sans-serif;
  --font-main: "Armin Grotesk", sans-serif;
  --font-medium: "Armin Grotesk", sans-serif;
  --font-bold: "Armin Grotesk", sans-serif;

  --main-typo-light: --font-light;
}