:root {
  /* Value */
  /* number */
  --corner-radius-0: 0rem;
  --corner-radius-1: 0.25rem;
  --corner-radius-2: 0.375rem;
  --corner-radius-3: 0.5rem;
  --corner-radius-4: 0.75rem;
  --corner-radius-5: 1rem;
  --corner-radius-6: 1.5rem;
  --corner-radius-7: 2rem;
  --corner-radius-max: 62.5rem;
  --spacer-0: 0rem;
  --spacer-1: 0.125rem;
  --spacer-2: 0.25rem;
  --spacer-3: 0.5rem;
  --spacer-4: 0.75rem;
  --spacer-5: 1rem;
  --spacer-6: 1.5rem;
  --spacer-7: 2rem;
  --spacer-8: 2.5rem;
  --spacer-9: 3rem;
  --spacer-10: 4rem;
  --spacer-11: 5rem;
  --spacer-12: 6rem;
  --spacer-13: 7rem;
  --spacer-14: 9rem;
  --spacer-15: 10rem;
}

/* Color primitives */
:root {
  /* HEX */
  /* color */
  --blue-100: #b9e8ff;
  --blue-200: #89dcff;
  --blue-300: #52c8ff;
  --blue-400: #2aaaff;
  --blue-500: #168efd;
  --blue-600: #0c74e9;
  --blue-700: #115cbc;
  --blue-800: #144f94;
  --blue-900: #11315a;
  --gray-100: #f6f6f6;
  --gray-200: #e7e7e7;
  --gray-300: #d1d1d1;
  --gray-400: #b0b0b0;
  --gray-500: #888888;
  --gray-600: #5d5d5d;
  --gray-700: #4f4f4f;
  --gray-800: #3d3d3d;
  --gray-900: #303030;
  --gray-black: #050505;
  --gray-white: #ffffff;
  --green-100: #a7f3c5;
  --green-200: #6ee7a6;
  --green-300: #34d382;
  --green-400: #10b667;
  --green-500: #059654;
  --green-600: #047846;
  --green-700: #065f39;
  --green-800: #064e31;
  --green-900: #022c1c;
  --indigo-100: #c2cdff;
  --indigo-200: #9cabff;
  --indigo-300: #757eff;
  --indigo-400: #5756ff;
  --indigo-500: #4636f5;
  --indigo-600: #3c2ad8;
  --indigo-700: #3125ae;
  --indigo-800: #2c2689;
  --indigo-900: #1c1650;
  --mint-100: #8bfff6;
  --mint-200: #49fff2;
  --mint-300: #10d7ce;
  --mint-400: #00d1cb;
  --mint-500: #00a9a7;
  --mint-600: #008686;
  --mint-700: #05696a;
  --mint-800: #0a5657;
  --mint-900: #003436;
  --neutral-100: #f4f4f6;
  --neutral-200: #ebecf0;
  --neutral-300: #dddfe4;
  --neutral-400: #c3c6cc;
  --neutral-50: #f9f9fa;
  --neutral-500: #afb3bb;
  --neutral-600: #8c929c;
  --neutral-700: #5b616d;
  --neutral-800: #414651;
  --neutral-900: #222732;
  --neutral-950: #0a0c11;
  --orange-100: #ffdfa5;
  --orange-200: #ffc76d;
  --orange-300: #ffa332;
  --orange-400: #ff870a;
  --orange-500: #f36900;
  --orange-600: #cc4f02;
  --orange-700: #a13d0b;
  --orange-800: #82350c;
  --orange-900: #461804;
  --pink-100: #ffcbf3;
  --pink-200: #ffa0e7;
  --pink-300: #e864cb;
  --pink-400: #ff65d5;
  --pink-500: #fc23b8;
  --pink-600: #ed159f;
  --pink-700: #ce0880;
  --pink-800: #aa0a69;
  --pink-900: #570034;
  --primary-100: #f4e7ff;
  --primary-200: #ebd4ff;
  --primary-300: #dcb2ff;
  --primary-400: #c781ff;
  --primary-50: #fbf5ff;
  --primary-500: #b251fb;
  --primary-600: #9821ee;
  --primary-700: #881dd3;
  --primary-800: #731dac;
  --primary-900: #5e198a;
  --primary-950: #410467;
  --red-100: #ffdde4;
  --red-200: #ff94aa;
  --red-300: #ff6785;
  --red-400: #ff5779;
  --red-500: #ff2350;
  --red-600: #f50032;
  --red-700: #d7002c;
  --red-800: #a90225;
  --red-900: #500010;
  --yellow-100: #fffd86;
  --yellow-200: #fff441;
  --yellow-300: #ffe50d;
  --yellow-400: #e6c100;
  --yellow-500: #d19d00;
  --yellow-600: #a67102;
  --yellow-700: #89570a;
  --yellow-800: #74470f;
  --yellow-900: #442504;
}