@use "mixins/drumee";

.media-grid {
  &__checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    visibility: hidden;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    padding: var(--spacer-2);

    &[data-hover="on"] {
      visibility: visible;

      svg {
        border: 1.5px solid var(--primary-500);
        border-radius: var(--checkbox-border-radius);
      }
    }

    &[data-selected="1"] {
      visibility: visible;

      svg {
        border-radius: var(--checkbox-border-radius);
        fill: var(--primary-500);
        border: 1.5px solid var(--primary-500);
        background-color: var(--default-bg); //var(--white);
      }
    }

    &--icon {
      pointer-events: none;
      background-color: var(--white);
      fill: var(--ewhite);
    }
  }
}
