@use "mixins/drumee";

.drumee-spinner {
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  position: absolute;
  z-index: 500;
  /* opacity: .5; */
  background: rgba(5, 5, 5, 0.5);
  border-radius: 50%;
}

.media-uploader,
.svg-progress {
  &__ui {
    position: absolute;
    background-color: var(--default-bg);
    z-index: 1000;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-container);
    left: 0;
    top: 0;
  }

  &__main {
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  &__container {
    &-header {
      justify-content: space-between;
    }

    &-body {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: var(--border-radius-small);
      border:1px solid var(--primary-300);
    }

    &-footer {
      justify-content: space-around;
    }
  }

  &__value {
    &-filesize {
      letter-spacing: 0.09px;
      @include drumee.typo($line: 13px, $size: 11px, $weight: 300, $color: var(--primary-500));
    }

    &-percent {
      letter-spacing: 0.09px;
      @include drumee.typo($line: 13px, $size: 11px, $weight: 300, $color: var(--primary-500));
    }

    &-filename {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;

      .drumee-text.inner {
        width: 93px;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        @include drumee.typo($line: 14px, $size: 12px, $weight: 300, $color: var(--primary-500));
        letter-spacing: 0.1px;
        text-align: center;
      }
    }
  }

  &__chart {
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    position: absolute;

    svg {
      width: 100%;
      height: 100%;
      fill: transparent;
      stroke-linecap: round;
    }

    &--bg {
      stroke: var(--neutral-300);
      stroke-width: 20;
    }

    &--fg {
      stroke: var(--primary-500);
      stroke-width: 20;
      stroke-linecap: round;
      transition: stroke-dashoffset 1s linear;
    }

    &--inner {
      fill: transparent;
    }
  }

  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0px;
    left: calc(50% - 10px);
    top: calc(50% - 11px);

    svg {
      width: 100%;
      height: 100%;
      fill: var(--primary-400);
    }
  }
}