@use 'mixins/drumee';



.devel-icons {
  &__ui {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 20px;
    min-width: 100vw;
    min-height: 100vh;
    background: white;
  }

  &__main {
    width: 100%;
    height: 100%;
  }

  &__content {
    width: 100%;
    height: 100%;
  }

  &__title {
    width: 100%;
    height: 50px;
    margin: auto 20px auto auto;
    justify-content: center;
    align-items: center;
    @include drumee.typo($color: var(--egrey-78), $size: 18px, $line: 24px, $weight: 400);

    &.search {
      input {
        height: 40px;
        width: 400px;
        background-color: greenyellow;
        border: 1px rebeccapurple solid;
        border-radius: 3px;
        padding: 3px 3px 3px 20px;
      }
    }
  }

  &__text {
    margin: auto 20px auto auto;
    @include drumee.typo($color: var(--egrey-78), $size: 14px, $line: 24px, $weight: 400);
  }

  &__icon {
    width: 25px;
    height: 25px;
    padding: 1.5px;
    color: var(--egrey-78);

    svg {
      color: grey;
      fill: none;
      stroke-width: 1px;
      stroke: gray;
    }
  }

  &__field {
    textarea {
      width: 100%;
    }
  }

  &__input {
    width: 200px;
    height: 100px;

    input {
      width: 100%;
    }
  }

  &__roll {
    width: 50%;
    height: calc(100vh - 200px);
    padding: 0 20px;
  }

  &__row {
    width: 100%;
    height: 35px;
    padding: 2px;
    cursor: pointer;
    padding: 5px 0;
    
    &[data-state="0"] {
      display: none;
    }

    &[data-state="1"] {
      display: flex;
    }

    input {
      background-color: transparent;
    }

    &:hover {
      border: 0.5px gray solid;
    }
  }

  &__column {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__dialog {
    position: absolute;

    &.dialog__wrapper {
      position: absolute;
      top: 50px;
      width: 0;
      height: 0;
      overflow: visible;
    }
  }


  .content__label {
    min-width: 150px;
    width: 50%;
    margin: auto 20px auto auto;
    cursor: pointer;
    pointer-events: all;
    @include drumee.typo($color: var(--egrey-89), $size: 16px, $line: 34px, $weight: 300);

    .note-content {
      margin: auto;
    }

    &.show {
      color: #FFFFFF;
      border: 1px solid #18AC72;
      background-color: #18AC72;
    }

    &.search {
      color: #FFFFFF;
      border: 1px solid #18AC72;
      background-color: #199fbd;
    }

    &.add {
      color: #FFFFFF;
      border: 1px solid rgb(41, 47, 131);
      background-color: rgb(41, 47, 131);
    }

    &.generate {
      color: #FFFFFF;
      border: 1px solid rgb(189, 99, 25);
      background-color: rgb(189, 99, 25);
    }
  }
}
