// sass
//Var
//colors
$colorArray: #354558 #625059 #905b5c #bd665e #eb7260
$base: #E9E0D6
$primary: #000000
$accent: #ffffff
$secondary: #a9a9a9
$n: 5

//mixins
=flex()
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  flex-wrap: wrap

.artboard
  width: 100%
  height: 100%
  +flex()
  position: absolute

.domino > div
  border-radius: 8px
  display: inline-flex
  transform: rotate(45deg)
  width: 50px
  height: 50px
  animation: domino-effect 2.4s infinite ease-in-out
  @each $current-color in $colorArray
      $i: index($colorArray, $current-color)
      &:nth-child(#{$i})
        background: $current-color
        &:after
          background: $current-color
          animation-delay: #{0.60 * $i}s
  @for $i from 1 through $n
    &:nth-child(#{$i})
      margin: 23px
      animation-delay: #{0.60 * $i}s
  &:after
    content: ''
    position: relative
    top: 0px
    left: -70px
    opacity: 0
    border-radius: 8px
    width: 50px
    height: 50px
    animation:  illusion 2.4s infinite ease-in-out

//animation
@keyframes domino-effect
    20%,80%
      transform: rotate(135deg)

@keyframes illusion
    0%, 25%
      opacity: 1

    26.10%, 33.33%, 100%
      opacity: 0
