/* =================================================================== *
   #   Copyright Xialia.com  2011-2019                                    *
   #   FILE : src/drumee/skin/global/common
   #   TYPE : Global styles, for the whole platform
   # ==================================================================== */

@import "../mixins/colors/index.scss";
@import "../mixins/typo.scss";
@import "../mixins/vendor.scss";
@import "../mixins/z-index.scss";
@import "../mixins/utils.scss";
@import "./toolkit.scss";

body {
  min-height: 100vh;
  background-color: rgb(248, 250, 252);
  visibility: visible;
}

li,
ul {
  list-style-type: none;
}

a,
u {
  text-decoration: none;
  color: #666;
}

#--router {
  .widget.photo {
    img {
      display: none;
    }
  }
  .wrapper.gateway {
    width: 100%;
    height: auto;
  }
}


// [data-flow].goodbye {
//   &__header1 {
//     @include typo($size: 24px, $line: 36px, $weight: 300, $color: #333333);
//   }
//   &__header2 {
//     @include typo($size: 48px, $line: 63px, $weight: 300, $color: #18a3ac);
//   }
// }
// [data-flow].welcome {
//   &__header1 {
//     @include typo($size: 36px, $line: 48px, $weight: 300, $color: #fa8540);
//   }
//   &__header2 {
//     @include typo($size: 24px, $line: 32px, $weight: 300, $color: $egrey-78);
//   }
// }

[contenteditable].text-editable {
  -webkit-user-select: text;
  user-select: text;
}


//******* others common
.slimScrollBarY {
  cursor: pointer;
}
.ui-resizable-e {
  width: 10px;
  right: -10px;
}
.ui-resizable-s {
  height: 10px;
  bottom: -5px;
}
.ui-resizable-nw {
  z-index: 200 !important;
  width: 20px !important; //16px
  height:  20px !important;//16px
  top: -7px !important;
  left: -7px !important;
}
.ui-resizable-ne {
  z-index: 200 !important;
  width:  20px !important;//16px
  height: 20px !important;//16px
  top: -7px !important;
  left: calc(100% - 7px) !important;
}
.ui-resizable-se {
  z-index: 200 !important;
  width:  20px !important;//16px
  height:  20px !important;//16px
  top: calc(100% - 7px) !important;//calc(100% - 8px)
  left: calc(100% - 7px) !important;//calc(100% - 8px) !important;
}
.ui-resizable-sw {
  z-index: 200 !important;
  width:  20px !important;//16px
  height:  20px !important;//16px
  top: calc(100% - 7px) !important;//calc(100% - 8px)
  left: -7px !important;//-8px !important;
}

@import "button";
@import "container";
@import "dialog";
@import "error";
@import "image";
@import "input";
@import "menu";
@import "modal";
@import "preset/ack";
@import "reset";
@import "spinner";
@import "svg";
@import "text";
@import "utils";
