/* =================================================================== *
   #   Copyright Xialia.com  2011-2016                                    *
   #   FILE : src/drumee/skin/global/button
   #   TYPE : Global styles, for the whole platform
   # ==================================================================== */
.dialog{
  &-button{
    &--close{
      width: 36px;
      height: 36px;
      padding: 12px;      
      right: 0;
      top: 0;
      position: absolute;
    }
  }
}