/* =================================================================== *
   #   Copyright Xialia.com  2011-2019                                   *
   #   FILE : src/drumee/skin/global/popup
   #   TYPE : Global styles, for the whole platform
   # ==================================================================== */



.modal-node {
  width:auto;
  height:auto;
  position :absolute !important;
  top :0;
  left : 0;
  &[data-state="open"]{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity:1;
    background-color: rgba(30, 30, 30, 0.55) !important;
    visibility:visible;
    position: fixed !important;
    z-index:$xia-z-index-modal !important;
  }
  .modal-box {
    width : 100%;
    height:auto;
    min-height : 300px;
  }
}

.context-node {
  position: absolute !important;
  top: 0;
  background-color: transparent;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &[data-state="open"]{
    z-index:$xia-z-index-context-upper !important;
  }
  &[data-state="modal"]{
    z-index: $xia-z-index-highest !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position : fixed  !important;
  }
  &[data-state="popup"]{
    background-color: rgba(22, 22, 22, .55) !important;
    z-index:$xia-z-index-context !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position : fixed  !important;
  }
  &[data-state="form"]{
    background-color: rgba(22, 22, 22, .45) !important;
    z-index:$xia-z-index-highest !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  &[data-layer="x-ray"]{
    opacity:0.25;
  }
}

.preview-node {
  z-index:-1;
  width:0;
  height:0;
  padding:0;
  opacity:0;
  visibility:hidden;
  &[data-state="open"]{
    width:100vw;
    height : auto;
    min-height:100vh;
    top: 0;
    left: 0;
    opacity:1;
    visibility:visible;
    position: absolute !important;
    z-index:$xia-z-index-preview !important;
  }
  &[data-state="white"]{
    background-color: white !important;
    z-index:$xia-z-index-preview !important;
  }
  &[data-state="modal"]{
    background-color: rgba(22, 22, 22, .55);
    z-index:$xia-z-index-preview !important;
  }
}


[data-flow].popup, .popup {
    $prefix: &;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(74,74,74,0.4);
    z-index: 200001!important;
    &:not(.popup--small) {
        width: 100vw;
        height: 100vh;
        position: fixed;
    }
    &--small {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &--rounded {
        border-radius: 4px;
    }
    &--transparent {
        background: none;
    }
    &__inner {
        background-color: #FFFFFF;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 7px 0 rgba(0,0,0,0.14), 0 0 6px 0 #F8FAFC, 0 3px 5px 0 rgba(0,0,0,0.2);
        &--small {
            width: 550px;
            height: 300px;
            padding: 40px;
            border-radius: 4px;
            #{$prefix}__header {
                @include typo($size:24px,$line:32px,$weight:400,$color:$egrey-2f);
            }
            #{$prefix}__btn-block {
                width: 390px;
            }
        }
        &--medium {
            width: 570px;
            height: 380px;
            padding: 50px;
            border-radius: 2px;
            #{$prefix}__header {
                @include typo($size:24px,$line:32px,$weight:400,$color:$egrey-2f);
            }
            #{$prefix}__btn-block {
                width: 400px;
            }
        }
        &--big {
            width: 940px;
            height: 620px;
            padding: 70px;
            border-radius: 2px;
            #{$prefix}__header {
                @include typo($size:36px,$line:48px,$weight:300,$color:$egrey-2f);
            }
            #{$prefix}__btn-block {
                width: 430px;
            }
        }
        #{$prefix}__header {
            justify-content: center;
            &--danger {
                color: #EA4D44;
            }
        }
    }
    &__close {
        color: #B6BFCA;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    &__text {
        &--regular {
            text-align: center;
            @include typo($size:20px,$line:26px,$color:$egrey-78,$weight:300);
        }
        &--small {
            @include typo($size:18px,$line:24px,$color:$egrey-78,$weight:300);
        }
        &--link {
            color: #4A90E2;
        }
        &--danger {
            color: #EA4D44;
        }
        &--confirm {
            color: #18a3ac //#18AC72;
        }
        &--w-icon-left {
            justify-content: center;
            display: flex;
            svg {
                width: 30px;
                margin-right: 15px;
            }
        }
    }
    &__list-item {
        position: relative;
        padding-left: 25px;
        &:before {
            content: " ";
            width: 4px;
            height: 4px;
            background-color: $egrey-78;
            border-radius: 50%;
            position: absolute;                            
            left: 0;
            top: 13px;
        }
        &--danger {
            &:before {
                background-color: #EA4D44;
            }
        }
    }
    &__btn-group {
        &--confirm .svg-inner { 
            color: $egreen; //$egreen-soft
        }
        &--other .svg-inner {  
            color: $eblue;
        }
        &--cancel .svg-inner {  
            color: #FF7479;
        }
    }
    .popup__block {
        margin: 30px 50px; 
    }
    .popup__map-list {
        @include typo($size:18px,$line:30px,$color:$egrey-78,$weight:400);
    }
    .popup__text-block {
        text-align: center;
        @include typo($size:14px,$line:19px,$weight:300,$color:$egrey-78);
    }
    .popup__input {
        width: 150px;
        height: 30px;
        background-color: #FAFAFA;
        box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
        padding: 5px 8px;
        input {
            background-color: transparent;
            @include typo($size:11px,$line:12px,$color:$egrey-78,$weight:400);
        }
    }
    .popup__page-name {
        @include typo($size:14px,$line:30px,$weight:300,$color:$egrey-78);
        .svg-inner {
            margin-right: 3px;
            width: 30px;
            height: 30px;
            padding: 7px;
        }
    }
    .popup__select {
        cursor: pointer;
        border-radius: 2px;
        position: relative;
        height: 30px;
        width: 149px;
        background-color: #FBFBFB;
        box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
        padding: 0 24px 0 12px;
        @include typo($size:14px,$line:30px,$color:$egrey-78,$weight:400);
        &:after {
            content: " ";
            width: 0;
            height: 0;
            position: absolute;
            top: 16px;
            right: 8px;
            border-top: 4px solid $egrey-78;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
    }
}
