/* # ==================================================================== *
 #   Copyright Xialia.com  2011-2016                                    *
 #   FILE : src/drumee/skin/global/user-classes.scss
 #   TYPE : style
 # ==================================================================== * */
 @import 'mixins/typo.scss';
 @import 'mixins/colors/index.scss';
 @import 'mixins/vendor.scss';

.helpers__title-styling,
.helpers__title-template {
  &.heading-1 {
    color: var(--editbox-text);
    font: bold 36px "Railway";
  }
  &.heading-2 {
    color: var(--editbox-text);
    font: bold 30px "Bodoni MT";
  }
  &.heading-3 {
    color: var(--editbox-text);
    font: bold 36px "Century Gothic";
    font-style: italic;
  }
  &.heading-4 {
    font: 28px "Franklin Gothic Heav  y";
    text-decoration: underline;
    color: var(--editbox-text);
  }
  &.heading-5 {
    font: bold 36px "Shadows Into Light";
    font-style: italic;
    color: var(--editbox-text);
  }
  &.subheading-1 {
    font: bold 28px "Avenir LT Std 55 Roman";
    text-decoration: underline;
    color: var(--editbox-text);
  }
  &.subheading-2 {
    font: bold 28px "Avenir LT Std 55 Roman";
    font-style: italic;
    color: var(--editbox-text);
  }
  &.subheading-3 {
    font: bold 28px "Avenir LT Std 55 Roman";
    color: var(--editbox-text);
  }
  &.subheading-4 {
    font: bold 28px "Avenir LT Std 55 Roman";
    text-decoration: underline;
    font-style: italic;
    color: var(--editbox-text);
  }
  &.subheading-5 {
    font: bold 28px "Avenir LT Std 55 Roman";
    color: var(--editbox-text);
  }
}
.helpers__text-template,
.helpers__title-template {
  // padding-right: 14px;
  &:not(:last-child) {
    margin: 0 0 20px;
  }
  // &--first {
  //     margin-top: 0;
  // }
  .toolname {
    justify-content: center;
    // overflow: hidden;
  }
}
[data-flow].helpers__text-header {
  background: var(--ewhite);
  @include typo($color: $egrey-4a, $size: 12px, $line: 36px, $weight: 300);
}
.helpers__text-bullet {
  &:before {
    padding-right: 3px;
  }
  &.helpers__text-bullet--circle:before {
    content: "\2B24";
  }
  &.helpers__text-bullet--star:before {
    content: "\2605";
  }
  &.helpers__text-bullet--heart:before {
    content: "\2665";
  }
}
.helpers__text-styling {
  &.helpers__text-styling--center {
    text-align: center;
  }
  p {
    width: auto !important;
    height: auto !important;
  }
}
.helpers__text-styling,
.helpers__text-template {
  &.heading-1 {
    color: var(--editbox-text);
    font: bold 18px "Railway";
  } /*not used naymore*/
  &.heading-2 {
    color: var(--editbox-text);
    font: bold 15px "Bodoni MT";
  }
  &.heading-3 {
    color: var(--editbox-text);
    font: bold 18px "Century Gothic";
    font-style: italic;
  }
  &.heading-4 {
    font: 14px "Franklin Gothic Heavy";
    color: var(--editbox-text);
  }
  &.heading-5 {
    font: bold 18px "Shadows Into Light";
    font-style: italic;
    color: var(--editbox-text);
  }
  &.subheading-1 {
    font: bold 14px "Avenir LT Std 55 Roman";
    color: var(--editbox-text);
  }
  &.subheading-2 {
    font: bold 14px "Avenir LT Std 55 Roman";
    font-style: italic;
    color: var(--editbox-text);
  }
  &.subheading-3 {
    font: bold 14px "Avenir LT Std 55 Roman";
    color: var(--editbox-text);
  }
  &.subheading-4 {
    font: bold 14px "Avenir LT Std 55 Roman";
    font-style: italic;
    color: var(--editbox-text);
  }
  &.subheading-5 {
    font: bold 14px "Avenir LT Std 55 Roman";
    color: var(--editbox-text);
  }
}
.helpers__button-header {
  //margin: 0 auto 21px!important;
  // width: 240px;
  @include typo($color: $egrey-4a, $size: 12px, $line: 14px, $weight: 300);
}
.helpers__button-group.box {
  margin: 3px;
  flex-flow: row wrap;
}
.helpers__section-template {
  margin-right: 14px;
}
.helper-box {
  // height: auto!important;
  // p {
  //     width: auto!important;
  // }
  &[data-grabed="on"] {
    visibility: hidden;
  }
  .helpers__section-template--empty {
    height: 96px;
    border: 1px solid #ff3466;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    @include typo($color: #c8c8c8, $weight: 400, $size: 12px, $line: 16px);
    svg {
      display: none;
    }
  }
}
.helpers__shape-template {
  cursor: pointer;
  height: 45px;
  width: 45px;
  padding: 10px;
  opacity: 0.56;
  background-color: rgba(216, 216, 216, 0.22);
  color: #89929e;
  border: 1px solid white;
}
.helpers__button-template {
  cursor: pointer;
  width: 50%;
  margin-bottom: 20px;
  &.helpers__button-template--square {
    -webkit-flex-basis: 16.666%;
    flex-basis: 16.666%;
    .toolname {
      height: 30px;
      width: 30px;
      align-items: center;
    }
  }
  &.helpers__button-template--round {
    .toolname {
      @include vendor(border-radius, 14.5px);
    }
  }
  &.helpers__button-template--text {
    margin-right: 8px;
    .toolname {
      height: 30px;
      width: auto;
      padding: 8px 9px;
      @include typo($color: #999494, $size: 12px, $line: 14px, $weight: 400);
    }
    svg {
      height: 14px !important;
      width: 14px !important;
      margin-right: 6px;
    }
  }
  &.helpers__button-template--text-edge {
    margin-right: 0;
  }
  &.helpers__button-template--text-pink {
    .toolname {
      color: #ff3466;
    }
    svg {
      fill: #ff3466;
    }
  }
  &.helpers__button-template--text-green {
    .toolname {
      color: #27aea1;
    }
    svg {
      fill: #27aea1;
    }
  }
  &.helpers__button-template--text-blue {
    .toolname {
      color: #4184f3;
    }
    svg {
      fill: #4184f3;
    }
  }
  &.helpers__button-template--text-grey {
    .toolname {
      color: #4a4a4a;
    }
    svg {
      fill: #4a4a4a;
    }
  }
  &.helpers__button-template--group-1 {
    margin-bottom: 15px;
    .toolname {
      background-color: rgba(255, 255, 255, 0.6);
      @include vendor(box-shadow, 0 1px 3px 1px rgba(0, 0, 0, 0.17));
      svg {
        width: 14px !important;
        height: 14px !important;
      }
    }
  }
  &.helpers__button-template--group-2 {
    margin-bottom: 15px;
    .toolname {
      background-image: -webkit-linear-gradient(122deg, #76bafa, #4184f3);
      background-image: -o-linear-gradient(122deg, #76bafa, #4184f3);
      background-image: linear-gradient(212deg, #76bafa, #4184f3);
      svg {
        width: 14px !important;
        height: 14px !important;
        fill: #ffffff !important;
      }
    }
  }
  &.helpers__button-template--group-2-1 {
    .toolname {
      @include vendor(box-shadow, 0 2px 4px 0 rgba(65, 132, 243, 0.49));
    }
  }
  &.helpers__button-template--group-2-2 {
    margin-bottom: 15px;
    .toolname {
      background-image: -webkit-linear-gradient(154deg, #76bafa, #4184f3);
      background-image: -o-linear-gradient(154deg, #76bafa, #4184f3);
      background-image: linear-gradient(244deg, #76bafa, #4184f3);
      @include vendor(box-shadow, 0 2px 4px 0 rgba(65, 132, 243, 0.49));
      color: #ffffff;
      svg {
        fill: #ffffff;
      }
    }
  }
  &.helpers__button-template--group-2-3 {
    margin-bottom: 15px;
    .toolname {
      background-image: -webkit-linear-gradient(144deg, #8f8dff, #7c81ff);
      background-image: -o-linear-gradient(144deg, #8f8dff, #7c81ff);
      background-image: linear-gradient(234deg, #8f8dff, #7c81ff);
      @include vendor(box-shadow, 0 2px 4px 0 rgba(124, 129, 255, 0.49));
      color: #ffffff;
      svg {
        fill: #ffffff;
      }
    }
  }
  &.helpers__button-template--group-3 {
    margin-bottom: 20px;
    margin-right: 6px;
    .toolname {
      height: 42px;
      width: 42px;
      padding: 10px;
      background-color: #f4f8ff;
      @include vendor(box-shadow, 0 3px 9px 0 rgba(0, 0, 0, 0.17));
      svg {
        width: 24px !important;
        height: 24px !important;
        fill: #ffa386;
      }
    }
  }
  &.helpers__button-template--group-3-text {
    margin-right: 11px;
    background-color: #f4f8ff;
    .toolname {
      width: auto;
      padding: 14px 9px;
      font-family: "NotoSerif-Regular" !important;
      // -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: -webkit-linear-gradient(#ff9067, #ff827f);
      background-image: -o-linear-gradient(#ff9067, #ff827f);
      background-image: linear-gradient(#ff9067, #ff827f);
      @include typo($size: 11px, $line: 16px);
    }
  }
  &.helpers__button-template--group-4 {
    height: 24px;
    margin-right: 5px;
    margin-bottom: 15px;
    .toolname {
      background-image: -webkit-linear-gradient(right, #ff9067, #ff827f);
      background-image: -o-linear-gradient(right, #ff9067, #ff827f);
      background-image: linear-gradient(to left, #ff9067, #ff827f);
      font-family: "NotoSerif-Regular" !important;
      height: 24px;
      width: 60px;
      padding: 7px;
      justify-content: center;
      @include typo($color: #ffffff, $size: 9px, $line: 11px);
      svg {
        fill: #ffffff;
        height: 10px !important;
        width: 10px !important;
      }
    }
  }
  &.helpers__button-template--group-4-1 {
    .toolname {
      width: 67px;
    }
  }
  &.helpers__button-template--group-4-2 {
    .toolname {
      width: 72px;
    }
  }
  //&.helpers__button-template--group-4-1 {
  //    height: 18px;
  //   margin-top: 3px;
  //   margin-bottom: 15px;
  //  opacity: 0.8;
  //  margin-left: 14.5px;
  //  .toolname {
  //     background-image: -webkit-linear-gradient(left, #ffa386, #ff8678);
  //     background-image: -o-linear-gradient(left, #ffa386, #ff8678);
  //    background-image: linear-gradient(to right, #ffa386, #ff8678);
  //    font-family: "NotoSerif-Regular"!important;
  //    height: 18px;
  //    width: auto;
  //    padding: 4px 9px 4px 6px;
  //   @include typo($color: #ffffff,$size:7.5px,$line:11px);
  //  svg {
  //        fill: #ffffff;
  //      height: 3px!important;
  //      width: 3px!important;
  //      margin: 3.5px 8px 3.5px 0;
  // }
  //  }
  // }
  &.helpers__button-template--group-5 {
    margin-right: 5px;
    width: 24px !important;
    height: 24px !important;
    svg {
      width: 24px !important;
      height: 24px !important;
      fill: #ffa386;
    }
  }
  &.helpers__button-template--group-5-1 {
    margin-left: 8px;
  }
  &.helpers__button-template--group-5-2 {
    svg {
      fill: #ff837f;
    }
  }
  &.helpers__button-template--group-5-3 {
    margin-top: 7px;
    svg {
      width: 10px !important;
      height: 10px !important;
    }
  }
  &.helpers__button-template--group-6 {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    //margin-right: 12.6px;
    margin-bottom: 16px;
    .toolname {
      background-image: -webkit-linear-gradient(right, #ff9067, #ff827f);
      background-image: -o-linear-gradient(right, #ff9067, #ff827f);
      background-image: linear-gradient(to left, #ff9067, #ff827f);
      width: 37.4px;
      height: 37.4px;
      @include vendor(border-radius, 50%);
      svg {
        width: 18px !important;
        height: 18px !important;
        fill: #ffffff;
        margin: 10px;
      }
    }
  }
  &.helpers__button-template--group-7 {
    height: 28px;
    margin-bottom: 16px;
    margin-right: 10px;
    .toolname {
      text-transform: uppercase;
      font-family: "NotoSerif-Regular" !important;
      @include typo($color: #ffffff, $size: 8px, $line: 11px);
    }
  }
  &.helpers__button-template--group-7-1 {
    .toolname {
      padding: 8.5px 25px;
      background-image: -webkit-linear-gradient(right, #ff9067, #ff827f);
      background-image: -o-linear-gradient(right, #ff9067, #ff827f);
      background-image: linear-gradient(to left, #ff9067, #ff827f);
      @include vendor(box-shadow, 0 2px 7px 0 rgba(0, 0, 0, 0.17));
    }
  }
  &.helpers__button-template--group-7-1-1 {
    margin-right: 21px;
  }
  &.helpers__button-template--group-7-1-2 {
    margin-right: 8px;
  }
  &.helpers__button-template--group-7-2 {
    .toolname {
      background-color: #f4f8ff;
      color: #ff827f;
      padding: 8px 7px;
      @include vendor(box-shadow, 0 2px 7px 0 rgba(0, 0, 0, 0.17));
      svg {
        width: 12px !important;
        height: 12px !important;
        fill: #ff827f;
        margin-right: 6px;
      }
    }
  }
}
.style-button,
.drumee-style,
.title.drumee-style {
  &.heading-1 {
    color: var(--editbox-text) !important;
    font: bold 36px "Railway" !important;
  }
  &.heading-2 {
    color: skyblue !important;
    font: bold 30px "Bodoni MT" !important;
  }
  &.heading-3 {
    color: var(--editbox-text) !important;
    font: bold 36px "Century Gothic" !important;
    font-style: italic !important;
  }
  &.heading-4 {
    font: 28px "Franklin Gothic Heavy" !important;
    text-decoration: underline !important;
    color: orange !important;
  }
  &.heading-5 {
    font: bold 36px "Shadows Into Light" !important;
    font-style: italic !important;
    color: darkseagreen !important;
  }

  &.subheading-1 {
    font: bold 28px "Avenir LT Std 55 Roman" !important;
    text-decoration: underline !important;
    color: orange !important;
  }
  &.subheading-2 {
    font: bold 28px "Avenir LT Std 55 Roman" !important;
    font-style: italic !important;
  }
  &.subheading-3 {
    font: bold 28px "Avenir LT Std 55 Roman" !important;
    color: deepskyblue !important;
  }
  &.subheading-4 {
    font: bold 28px "Avenir LT Std 55 Roman " !important;
    text-decoration: underline !important;
    font-style: italic !important;
  }
  &.subheading-5 {
    font: bold 28px "Avenir LT Std 55 Roman " !important;
    color: lightgreen !important;
  }
}

.style-button.style-button--heading {
  cursor: pointer;
  color: $egrey-4a !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  text-shadow: none !important;
  font-style: normal !important;
  text-indent: 0 !important;
  text-align: left !important;
  text-decoration: none !important;
  padding: 3px 10px 3px 24px;
  .style-label {
    @include typo($size: 12px, $line: 22px, $weight: 400, $color: $egrey-4a);
  }
  &:hover {
    .style-label {
      color: $editbox-list-element-active;
    }
    .button {
      visibility: visible;
      color: $editbox-list-element-active;
    }
  }
  &[data-state="1"],
  &[data-radio="on"],
  &:active {
    background-color: $editbox-list-element-active !important;
    .style-label {
      color: white;
      z-index: 1;
      //border-left: 2px solid var(--texteditor-font-hover-border);
      //border-right: 2px solid var(--texteditor-font-hover-border);
      //border: 1px solid var(--drumee-pink) !important;
    }
    .button {
      visibility: visible;
      color: $white;
    }
  }
  p {
    line-height: 14px;
    padding: 1px 0;
  }
  .button {
    color: white;
    visibility: hidden;
    margin-left: 10px;
    opacity: 0.5;
    //font-size: 14px;
    //margin: auto;
    //text-decoration: none;
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

.menu-topic {
  .menu-triggers--wraper {
    padding: 10px 5px;
  }
  .menu-items--wraper {
    overflow: hidden;
  }
}

.loader-progress, .progress__wrapper {
  stroke-width: 1em;
  // .circle-shadow {
  //     stroke: transparent;
  //     fill: rgba(0,0,0,0.2);
  //     filter: url(#circle-dropshadow);
  // }
  .circle-bg {
    stroke: rgb(208, 210, 214);
    stroke-width: 20;
  }
  .circle-fg {
    stroke: #18a3ac; //rgb(14, 76, 209);
    stroke-width: 20;
    transition: stroke-dashoffset 1s linear;
  }
  .percent,
  .filename {
    // margin: 0 auto auto;
    margin: 0 auto 3px;
    @include typo($size: 14px, $line: 55px, $weight: 300, $color: $egrey-78);
  }
}
