&.found{
  &__main{
    padding: 0 0 0 30px;
    height: 36px;
    align-items: center;
    &:hover{
      .recipient-icon{
        visibility: visible;
      }
    }
  }
  &__checkbox{
    width: 14px;
    height: 14px;
    padding: 2px;
    border: 1px solid #879BFF;
    border-radius: $default-checkbox-border-radius;//2px;
    svg {
      color: var(--ewhite);
    }
  }
  &__avatar{
    width: 26px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: 50% 50%;
    border-radius: 15px;
    background-color: #D8D8D8;
    overflow: hidden;    
  }
  &__icon{
    width: 14px;
    height: 14px;
    visibility: hidden;
    color: var(--ewhite); 
    cursor: pointer;
  }
  &__label{
    padding: 0 10px;
    width: 160px;
    @include overflow-text; 
  }
}