@import 'mixins/drumee';

& {
  .slimScrollBarY {
    width: 18px !important;
    right: 0px !important;
    padding: 3px !important;
    border-radius: 0 !important;
    background-color: transparent!important;
    &:after {
      content: " ";
      background:$default-scrollbar-color;//#fa8540;
      position: absolute;
      width: 2px;
      border-radius: 7px;
      height: calc(100% - 6px);
      right: 3px;
    }
    &:before {
      content: " ";
      background: var(--ewhite); 
      position: absolute;
      height: 100%;
      width: 8px;
      border-radius: 7px;
      right: 0;
      top: 0;
    }
  }
}