@use 'mixins/drumee';

.contact-item {
  &__ui {
    background-color: inherit;
    cursor: pointer;
    overflow: hidden;
    @include drumee.typo( $color: var(--default-text-color));

    &:hover,
    &[data-active=active],
    &[data-radio=on] {
      background: var(--default-background-hover);
      
      & .profile-icon,
      & .note-reader{
        color: var(--default-text-hover);
      }
    }
  }
  
  &__main {
    background-color: inherit;
  }

  &__container {
    background-color: inherit;
  }

  &__icon {
    color:var(--default-icon-neutral);
    height: 28px; 
    width: 25px; 
    min-width: 25px;
    margin-top: -1px; 
    margin-left: 2px;

    & .note-reader {
      &:hover {
      color:var(--default-icon-hover);
      }
    }
    &.memory{
      height: 22px;
      margin-top:  2px;
      width:22px;
      min-width:22px;
      margin-left: 5px;
    }
    &.sent {
      height: 24px;
      margin-top: 0px;
      width: 24px;
      &.user-help{
        height: 31px;
        margin-top: -4px;
        width:31px;
        min-width: 31px;
      }
    }
  }
  &__profile {
    &.user-profile__ui {
      border-radius: 50%;
      height:29px; 
      width:29px; 
      margin-top: -2px;

      &[data-default="1"]{
        border: none;
      }
    }
  }
}



.widget-contacts__item {
  & .contact-item {
    padding-left: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1px 0px 0px 1px;
    
    height: 35px;
    @include drumee.typo( $size :14px, $line: 16px);
    
    &__profile {
      & section {
        font-size: 80%;
      }
    }

    &__name {
      @include drumee.typo( $size :14px, $line: 16px, $color: var(--default-text-color));
      margin-top: 3px;
      overflow:hidden;
      padding: 2px 3px 3px 15px;
      width: 200px;
      @include drumee.overflow-text;

      & .inner.note-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.addressbook-widget-search__item {
  & .contact-item {
    padding: 4px 5px 3px 12px; 
    height: 33px;
    @include drumee.typo($size:12px, $line: 14px);

    &__icon{
      color: var(--default-icon-neutral);
      height: 28px;
      
      width: 25px;
      &:hover{
        color:var(--default-icon-reverse);
      }
    }
    &__profile {
      color: var(--default-user-icon);
      height: 29px;
     
      width: 29px;
    }

    &__profile {
      & section {
        font-size: 70%;
      }
    }
  }
}