@use 'mixins/drumee';

.widget-member-rolesMenu-items {
  &__ui {
    background-color: inherit;

    &:hover {
      * {
        background-color: var(--neutral-300);
        // color: var(--default-text-hover);

        svg {
          border-radius: var(--border-radius-tiny);
        }

        // &.checkbox[data-state="1"] {
        //   box-shadow: none;
        //   color: var(--checkbox-checked-reverse);
        //   border: 1px solid var(--checkbox-checked-border-reverse);
        // }
      }
    }
  }

  &__main {
    background-color: inherit;
  }

  &__container {
    background-color: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 0px 14px;
  }

  &__note {
    max-width: 105px;
    width: 100%;
    @include drumee.typo($size: 12px, $weight: 300, $line: 24px, $color: var(--default-text-color));
    @include drumee.overflow-text;

    .inner {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__icon {
    box-shadow: none;
    cursor: pointer;
    margin-left: 0px;
    border: 1px solid var(--primary-400);
    color: transparent;
    border-radius: 50%;
    width: 15px;
    height: 15px;

    svg {
      width: 100%;
      height: 100%;
      padding: 2px;
    }

    &[data-state="1"] {
      box-shadow: none;

      border: 1px solid var(--primary-500);
      color: var(--primary-500);
    }
  }
}