&-reply {
  &__wrapper {
    height: 100%;
    margin: 10px 10px 2px 10px;
    max-height: 90px;
    width: calc(100% - 25px);

    &[data-mode="closed"] {
      display: none;
    }
  }

  &__main {
    background-color: $dgc-chat-reply-bg;
    border-radius: 2px 4px 4px 2px;
    height: 100%;
    min-height: 55px;
    max-width: 500px;
    min-width: 200px;
    padding: 2px;
    width: calc(100% - 6px);
  }

  &__container {
    height: 100%;
    padding-left: 5px;
    width: 100%;
  }

  &__items-wrapper {
    height: 100%;
    width: 100%;

    &.attachment {
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      max-width: 60px;
    }
  }

  &__note {
    &.name {
      @include typo($size: 12px, $line: 14px);
      padding-bottom: 3px;
      padding-top: 5px;
      text-transform: capitalize;
    }

    &.conversation {
      height: calc(100% - 30px);
      overflow: hidden;

      & .note-content {
        @include typo($size: 12px, $line: 14px, $weight: 400, $color: var(--default-text-color));
        overflow: hidden;
        word-wrap: break-word;
  
        & a {
          color: $dgc-secondary-text-color;
  
          &:hover{
            color: $dgc-chat-hover; 
          }
        }
      }

      & section {
        max-width: 460px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__icon {
    color: var(--default-icon-neutral);
    cursor: pointer;

    &.close-icon {
      height: 8px;
      position: absolute;
      right: 2px;
      top: 5px;
      width: 8px;
    }
  }

  &__media-attachment {
    height: 44px;
    overflow: hidden;
    width: 50px;

    & .widget-chat__attachment-wrapper {
      &.media-grid__ui {
        background: inherit;
        height: 100%;
        margin: 0;
        width: 100%;

        & .filename {
          font-size: 7px;
          line-height: 9px;
          max-width: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          top: 24px;
          word-break: break-word;
        }
      }
    }
  }
}