@import 'mixins/drumee';

&--submit{
  background: $btn-commit-background;//$egreen;
  width: 110px;
  height: 32px;
  margin: auto;
  border-radius:$default-border-radius;
  //border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  @include typo($color:$btn-commit-text,$size:16px,$line:26px); //$weight:300
  &:hover{
    background-color:$btn-commit-background-hover;
  }
}