@import 'mixins/drumee';

&--submit{
  background: var(--btn-commit-background);//var(--egreen);
  width: 110px;
  height: 32px;
  margin: auto;
  border-radius:var(--border-radius);
  //border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  @include typo($color: var(--btn-commit-text),$size:16px,$line:26px); //$weight:300
  &:hover{
    background-color:var(--btn-commit-background-hover);
  }
}