@use "mixins/drumee";

@mixin desk-submit-btn {
  &--submit {
    background: var(--primary-500);
    height: 40px;
    margin: auto;
    border-radius: var(--corner-radius-max);
    padding: var(--spacer-4) var(--spacer-6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @include drumee.typo(
      $color: var(--btn-commit-text),
      $size: 16px,
      $line: 26px
    ); //$weight:300

    &:hover {
      background-color: var(--primary-600);
    }
  }
}

@mixin settings-button {
  &__buttons {
    gap: var(--spacer-6);
    width: 100%;
  }

  &__button-main {
    height: 48px;
    opacity: 1;
    gap: var(--spacer-4);
    border-radius: var(--corner-radius-max);
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    cursor: pointer;

    &[data-haptic="1"] {
      opacity: 0.6;
      pointer-events: none;
    }

    &.primary {
      padding-right: 3px;
      justify-content: center;
      grid-template-columns: 1fr 40px;
      background: var(--primary-500);
      color: var(--white);
      align-content: center;
      flex-wrap: wrap;

      .icon.svg-wrapper {
        height: 38px;
        width: 38px;
        color: var(--primary-500);
        background-color: white;
        border-radius: 50%;
        padding: 9px;
      }
    }

    &.full-width {
      width: 100%;
    }

    &.secondary {
      justify-content: center;
      background-color: var(--neutral-200);

      .icon.svg-wrapper {
        height: 32px;
        width: 32px;
        color: var(--neutral-900);
        border-radius: 50%;
        padding: 6px;
      }

      &.full-width {
        width: 100%;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__button.btn {
    width: auto;
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 20px;
  }
}
