@use "mixins/drumee";

.editor {
  &__ui {
    &[data-state="1"] {
      z-index: 10000 !important;
    }
  }

  &__header {
    border-radius: 24px 24px 0 0;
  }
}

.editor-topbar {
  &__container {
    width: 100%;
    grid-template-columns: auto 1fr 50px;
    align-content: center;
    justify-items: center;
  }

  &__control {
    position: absolute;
    right: 0px;
    top: 15px;

    .icon {
      width: 30px;
      height: 30px;
      padding: var(--spacer-3);
      cursor: pointer;
      margin: auto var(--spacer-5) auto 0;
      background: rgba(255, 255, 255, 0.24);
      color: white;
      border-radius: 100%;

      &:hover {
        color: var(--primary-500);

        .tooltips {
          color: var(--neutral-100);
        }
      }
    }
  }

  &__title {
    padding: 0;
    height: 100%;
    @include drumee.typo(
      $size: 24px,
      $line: 24px,
      $weight: 400,
      $color: var(--default-text-reverse)
    );
    @include drumee.overflow-text;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    &[data-device="mobile"] {
      justify-content: start;
      margin-left: 40px;
    }
  }

  &__icon {
    width: 46px;
    height: 46px;
    color: var(--neutral-900);
    cursor: pointer;
    padding: var(--spacer-4);
    background-color: var(--neutral-200);
    border-radius: 100%;

    &:hover {
      color: var(--primary-500);

      .tooltips {
        color: var(--neutral-100);
      }
    }

    &[data-visibility="0"] {
      visibility: hidden;
      pointer-events: none;
      display: none;
    }

    &.pin {
      z-index: 1;

      &[data-state="1"] {
        svg {
          transform: rotate(-45deg);
        }

        .tooltips {
          display: none !important;
        }
      }

      &[data-visibility="0"] {
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
}
