/** ================================================================== *
#   Copyright Xialia.com  2011-2021
#   FILE : /src/drumee/builtins/window/adminpanel/widget/member_form/skin/index.scss
#   TYPE : Component style
# ===================================================================**/
@use 'mixins/drumee';

.widget-member-form {
  &__ui {
    height: 100%;
    width: 100%;
    font-family : var(--font-main);
  }

  &__main {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
  }

  &__container {
    height: 100%;
    margin: auto;
    min-width: 300px;
  }

  &__wrapper {
    padding-bottom: 20px;

    &.name {
      padding-bottom: 20px;
      padding-top: 45px;
    }

    &.security {
      align-items: center;
      padding-bottom: 15px;
    }
  }

  &__area-code {
    align-items: baseline;
    width: 70px;
  }

  &__security-wrapper {
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }

  &__message-box {
    height: 20px;
  }
  
  &__note {
    &.area-code {
      @include drumee.typo($size: 18px, $line: 16px, $weight:300, $color: var(--default-text-color));
      right: 2px;
      top: 0px;
    }

    &.see-members,
    &.security {
      @include drumee.typo($size: 15px, $line: 16px, $color: var(--secondary-text-color));
      cursor: pointer;
      max-width: 265px;
      text-align: center;
      text-decoration: underline;
      width: 100%;
    }

    &.security {
      cursor:default;
    }

    &.error-msg {
      @include drumee.typo($size: 13px, $line: 13px, $weight: 400, $color: var(--default-text-error));
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }

  &__icon {
    height: 26px;
    margin-right: 21px;
    opacity:0.55;
    width: 26px;

    &.name {
      opacity:1;
      top:-4px;
      padding: 2px;
    }

    &.email {
      left: 4px;
      top: -1px;
      padding: 2.5px;
    }

    &.mobile {
      left: 4px;
      top: -4px;
      padding: 0px;
    }

    &.ident {
      left: 4px;
      top: -4px;
      padding: 1px;
    }

    &.address {
      height: 28px;
      left:3px;
      opacity:0.75;
      top:-3px;
      width: 27px;
    }

    &.security{
      margin-left:5px;
      opacity: 0.4;
    }

    &.security-check {
      border-radius: var(--checkbox-border-radius);
      border: 1px solid var(--default-checkbox-border);
      box-shadow: none;
      color:var(--default-checkbox-background);
      cursor: pointer;
      height: 15px;
      left: 1%;
      margin-right: 0;
      opacity: 1;
      right: 0px;
      top: 4px;
      width: 15px;

      &:hover {
        border: 2px solid var(--default-checkbox-border);
      }

      &[data-state="1"] {
        box-shadow: none;
        border: 1px solid var(--default-checkbox-border);
        color: var(--default-checkbox-checked);
        opacity: 1;
      }

      &.disable {
        color: var(--default-text-success);
        opacity: 0.4;
        border: none;
  
        &[data-status="0"] {
          border-radius: 2px;
          border: 1px solid var(--egrey-89);
          color: var(--egrey-89);
          padding: 2px;
        }
      }
    }
  }

  &__entry {
    width: 100%;

    &-wrapper {
      width: 100%;
    }

    &.email {
      &[data-status='error'] {
        & input:focus {
          border-color: var(--default-border-error);
        }
      }
    }

    &.firstname,
    &.address-item {
      padding-bottom: 7px;
    }

    &.mobile {
      left: 10px;
      width: calc(100% - 125px);

      .entry-reminder__main.showerror {
        overflow: visible;
        white-space: nowrap;
      }

      .entry-reminder_error {
        margin: 0;
      }
    }

    &.area-code {
      .entry-reminder__main.showerror {
        overflow: visible;
        white-space: nowrap;
      }

      .entry-reminder_error {
        margin: 0px;
        left: -4px;
      }

      /* Chrome, Safari, Edge, Opera */
      & input::-webkit-outer-spin-button,
      & input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      & input[type=number] {
        -moz-appearance: textfield;
      }
    }

    & input {
      @include drumee.typo($size: 16px, $line: 19px, $color: var(--default-text-color));
      background-color: transparent;
      border-bottom: 1px solid var(--default-entry-border-bottom);
      border-radius: 0px;
      margin-left: 0px;
      width: 100%;

      &::placeholder {
        @include drumee.typo($size: 16px, $weight:300, $line: 19px, $color: var(--default-text-placeholder));
      }
      
      &:focus {
        border-color: var(--focus-border-placeholder);
        outline: none;

        @include drumee.placeholder-input {
          color:var(--focus-text-placeholder);
        }
      }
      &.entry [data-status="error"] {
        left:-20px;
      }
    }

    & textarea {
      @include drumee.typo($size: 14px, $line: 20px);
      background-color: var(--default-background);
      border-radius:var(--border-radius);
      border: 1px solid var(--focus-border-placeholder);
      box-sizing: border-box;
      margin-bottom: 20px;
      margin-left: 1px;
      margin-top: 5px;
      min-height: 60px;
      padding:6px;
      resize: none;
      width: 100%;
      
      &::placeholder {
        @include drumee.typo($size: 14px, $weight: 300, $color: var(--default-text-placeholder));
      }

      &:focus {
        outline: none;
       }
    }
  }

  &__buttons-wrapper {
    justify-items: center;
    padding-bottom: 10px;
    width: 100%;
    margin: 20px auto;
    
    & .button {
      @include drumee.typo($size: 16px, $line: 19px);
      align-items:center;
      border-radius:var(--border-radius);
      height: 35px;
      justify-content: center;
      margin: 0 0% 0 8%;
      width: 115px;
    }
  }
  
  &__button-cancel {
    border: 1px solid var(--btn-rollback-border);
    @include drumee.typo($color: var(--btn-rollback-text));

    &:hover {
      border:2px solid var(--btn-rollback-border-hover);
      color: var(--btn-rollback-text-hover);   
    }
  }
  
  &__button-confirm {
    @include drumee.typo($color: var(--btn-commit-text));
    background-color:var(--btn-commit-background);
    border: 1px solid var(--btn-commit-border);
    
    &:hover {
      background-color:var(--btn-commit-background-hover);
      border-color: var(--btn-commit-border-hover);
    }
  
    &[data-error=on] {
      @include drumee.typo($weight:300, $color: var(--default-text-reverse));
      pointer-events: none;
      opacity: 0.2;
    }
  }

  & .entry[data-status=error] input {border-bottom: 1px solid var(--default-border-error);}
  & .address__ui.address-input-item__ui:only-child,
  & .phoneno__ui.phoneno-input-item__ui:only-child {
    & .destroy-tag {
      display: none;
    }
  }
}