@use "sass:meta";
@use "mixins/drumee";
@use "../../skin" as *;
@use "storage";
@use "security";

.settings-helpcenter {
  &__ui {
    height: 640px;
    background-color: var(--white);
    border-radius: var(--corner-radius-4);
    display: flex;
    padding: 20px;
    overflow: hidden;
    &[data-device="mobile"] {
      padding: 0;
      left: 0;
      width: 90%;
      height: 100%;
      margin: 10px;
    }
  }

  &__icon {
    &.logo {
      svg {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__content-item {
    &.container {
      padding: var(--spacer-4);
      justify-content: center;
      align-items: flex-start;
      gap: var(--spacer-3);
      align-self: stretch;
    }

    &.title {
      color: var(--neutral-900);
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }

    &.feature-title {
      color: var(--neutral-900);
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
    }

    &.description {
      color: var(--neutral-700);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.14px;
      &.bold-note {
        font-weight: 900;
      }
    }

    &.description a {
      color: var(--blue-600);
      text-decoration: underline;
    }

    &.wrap-description {
      flex-wrap: wrap;
      color: var(--neutral-700);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.14px;
      align-items: center;
      gap: var(--spacer-3);
      svg {
        width: 16px;
        height: 16px;
        color: var(--green-400);
      }
      &.lengthy-text {
        flex-wrap: nowrap;
      }
    }

    &.bullet-spacer {
      width: 16px;
      height: 16px;
      flex: 0 0 16px;
    }

    &.sub-bullet-spacer {
      width: 28px;
      height: 16px;
      flex: 0 0 28px;
    }

    &.tos-pill {
      display: inline-flex;
      align-items: center;
      padding: var(--spacer-1) var(--spacer-4);
      border-radius: 8px;
      background: var(--white);
      color: var(--neutral-900);
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__layer {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--transparency-container-overlay);
    overflow: hidden;
  }

  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--white);
    overflow: hidden;
    grid-template-columns: 208px 1fr;
    gap: var(--spacer-5);
    &[data-device="mobile"] {
      grid-template-columns: 1fr;
      grid-auto-rows: auto 1fr;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--white);
    overflow: hidden;
  }

  &__nav {
    justify-content: space-between;
    height: 100%;
    border-right: 1px solid var(--neutral-200);
  }

  &__header {
    width: 100%;
    height: 54px;
    justify-content: space-between;
    padding: var(--spacer-4) var(--spacer-5);
    border-bottom: 1px solid var(--neutral-200);
  }

  &__content {
    width: 100%;
    padding: var(--spacer-5);
    gap: var(--spacer-5);
    flex: 1;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;
  }

  &__spacer {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--neutral-200);
  }

  &__legals {
    width: 100%;
    border-radius: 8px;
    padding: var(--spacer-3) var(--spacer-4);
    border-top: 1px solid var(--neutral-200);
    gap: 8px;

    &-text {
      height: 34px;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: var(--neutral-600);
    }
  }

  &__topics {
    width: 100%;
    padding: var(--spacer-5) var(--spacer-4);
    border-bottom: 1px solid var(--neutral-200);
    gap: 10px;

    &[data-device="mobile"] {
      gap: 0;
      width: 360px;
      flex-direction: row;
      align-items: center;
      overflow-x: auto;
    }
  }

  &__item {
    align-items: center;
    width: 100%;
    height: 34px;
    padding: var(--spacer-3) var(--spacer-4);
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border-radius: var(--corner-radius-3);
    cursor: pointer;

    &[data-device="mobile"] {
      flex-shrink: 0;
      width: 150px;
      justify-content: center;
    }

    &[data-radio="on"] {
      border: 1px var(--primary-500) solid;
      background-color: var(--primary-100);
    }

    &-icon {
      width: 16px;
      height: 16px;
      color: var(--neutral-500);
    }

    &-text {
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      color: var(--neutral-900);
      &[data-device="mobile"] {
        margin-top: var(--spacer-2);
      }
    }

    &.active {
      border: 1px solid var(--primary-500);
    }
  }

  &__item-container {
    align-items: center;
    gap: var(--spacer-4);
  }

  &__title-wrapper {
    gap: var(--spacer-4);
  }

  &__title {
    gap: var(--spacer-4);

    &.text {
      color: var(--neutral-900);
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0.14px;
    }
    &[data-device="mobile"] {
      flex-shrink: 0;
      width: 160px;
      font-size: 20px;
    }
  }

  &__buttons {
    padding: var(--spacer-5);
    visibility: hidden;

    &[data-page="0"] {
      visibility: visible;
    }
  }

  &__button-main {
    margin-top: auto;
  }
}
