.window {
  --account-hover-color: #879bff;
  --account-bg-grey-color: #DDE2E8;

  --account-color-basic-plan: #007ED9;
  --account-color-pro-plan: #E96102;
  --account-color-company-plan: #44A4AC;
  --account-color-offer-banner: #E5E2E2;

  /**background**/
  --account-header-bg: #18A3AC;
  --account-default-background: --default-background;
  --account-default-background-hover: --default-background-hover;
  --account-default-block-background: --default-block-background;
  --account-default-background-inactive: --default-background-inactive;
  --account-default-transparent-black: --default-transparent-black;
  --account-background-tooltips: --background-tooltips;

  /**text**/
  --account-default-text-color: --default-text-color;
  --account-default-text-reverse: --default-text-reverse;
  --account-default-text-hover: --default-text-hover;
  --account-backgroundless-text-hover: --backgroundless-text-hover;
  --account-secondary-text-color: --secondary-text-color;
  --account-default-text-placeholder: --default-text-placeholder;
  --account-text-placeholder-focus: --focus-text-placeholder;
  --account-default-text-success: --default-text-success;
  --account-default-text-error: --default-text-error;
  --account-default-text-title: --default-text-title;
  --account-default-text-caution: --default-text-caution;
  --account-default-text-inactive: --default-text-inactive;
  --account-default-text-alert: --default-text-alert;
  --account-default-text-tooltips: --default-text-tooltips;

  /**icon**/
  --account-background-user-icon: --background-user-icon;
  --account-default-icon-neutral: --default-icon-neutral;
  --account-default-icon-reverse: --default-icon-reverse;
  --account-default-thinline-icon: --default-thinline-icon;
  --account-security-thinline-icon: #787B7F;
  --account-default-thinline-icon-hover: --default-thinline-icon-hover;
  --account-field-icon: #4a90e2;
  --account-default-icon-success: --default-icon-success;
  --account-default-icon-hover: --default-icon-hover;

  --account-phone-color: #879bff;
  --account-pass-color: #AB47BC;
  --account-email-color: #FE6790;
  --account-sms-color: #FA8A48;
  --account-ident-color: #18AC72;
  --account-ip-color: #B1BDFD;
  --account-usb-color: #1AA3AC;

  /**entry border bottom**/
  --account-default-entry-border-bottom: --default-entry-border-bottom;
  --account-default-border-error: --default-border-error;
  --account-security-entry-border-bottom: #b8b8b8;
  --account-default-separator: --default-separator;

  /**toggle**/
  --account-toggle-switch-on: --toggle-switch-on;
  --account-toggle-switch-off: --toggle-switch-off;
  --account-toggle-switch-radio: --toggle-switch-radio;
  --account-toggle-background: --toggle-background;
  --account-checkbox-svg-hover: #18A3AC;

}