:root {
  --border-radius-bottom-tiny: 0 0 3px 3px;
  --sharebox-main: #EF6500;
  --sharebox-border: #fa8540;
  --share-box-default-color: #FCB58C;
  --share-box-topbar-container: #FA8540;
  --sharebox-main-background-filename: #ffccaf;
  --sharebox-notification-cancel-btn-border: #DDE2E8;
  --sharebox-main-light: #f78d4f;
  --sharebox-default-icon-error: #ea4d44;
}